N8N - Portal de Marketing.json
{
  "name": "Portal de Marketing",
  "nodes": [
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "dutBfLahHvTirBwyR",
          "mode": "list",
          "cachedResultName": "LinkedIn Company Profile Scraper (pratikdani/linkedin-company-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/dutBfLahHvTirBwyR/input"
        },
        "customBody": "={\n    \"url\": \"{{ $('URLs').item.json.linkedin_url }}\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4480,
        -336
      ],
      "id": "30dcb33e-e5ee-4236-870b-55ffbe345b0d",
      "name": "linkedin_info",
      "credentials": {
        "apifyApi": {
          "id": "PCfaMYq84TClmUfT",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json.instagram_url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 5,\n    \"resultsType\": \"details\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4480,
        32
      ],
      "id": "08f93449-677a-4b3b-9498-fe6e68fe2dc6",
      "name": "instagram",
      "credentials": {
        "apifyApi": {
          "id": "PCfaMYq84TClmUfT",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "mrThmKLmkxJPehxCg",
          "mode": "list",
          "cachedResultName": "LinkedIn Company Posts Scraper вҖ“ No Cookies (apimaestro/linkedin-company-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/mrThmKLmkxJPehxCg/input"
        },
        "customBody": "={\n  \"company_name\": \"{{ $json.linkedin_url }}\",\n  \"limit\": 5,\n  \"page_number\": 1,\n  \"sort\": \"recent\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4480,
        -144
      ],
      "id": "e821fc4e-7e8c-4e21-9581-35388de942f4",
      "name": "linkedin_post",
      "notesInFlow": false,
      "retryOnFail": false,
      "credentials": {
        "apifyApi": {
          "id": "PCfaMYq84TClmUfT",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "list",
          "cachedResultName": "YouTube Scraper (streamers/youtube-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/h7sDV53CddomktSi5/input"
        },
        "customBody": "={\n  \"downloadSubtitles\": false,\n  \"hasCC\": false,\n  \"hasLocation\": false,\n  \"hasSubtitles\": false,\n  \"is360\": false,\n  \"is3D\": false,\n  \"is4K\": false,\n  \"isBought\": false,\n  \"isHD\": false,\n  \"isHDR\": false,\n  \"isLive\": false,\n  \"isVR180\": false,\n  \"maxResultStreams\": 0,\n  \"maxResults\": 3,\n  \"maxResultsShorts\": 0,\n  \"preferAutoGeneratedSubtitles\": false,\n  \"saveSubsToKVS\": false,\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.youtube_url }}\"\n    }\n  ],\n  \"subtitlesLanguage\": \"en\",\n  \"subtitlesFormat\": \"srt\"\n}\n",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4480,
        240
      ],
      "id": "221c9027-d6db-4bea-b125-80635bc30cef",
      "name": "youtube",
      "credentials": {
        "apifyApi": {
          "id": "PCfaMYq84TClmUfT",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node вҖ“ LINKEDIN INFO (VersГЈo Turbo SEM TRADUГҮГғO)\n// Limpa, organiza, classifica lideranГ§a e mantГ©m os textos originais SEM traduГ§ГЈo.\n\n// --- Helpers ---------------------------------------------------------\nconst parseNumber = (str) => {\n  if (!str) return null;\n  if (typeof str === \"number\") return str;\n  const only = String(str).replace(/[^\\d]/g, \"\");\n  return only ? Number(only) : null;\n};\n\nconst classifyRole = (title = \"\") => {\n  const t = title.toLowerCase();\n\n  if (t.includes(\"ceo\") || t.includes(\"chief executive\")) return \"C-Level\";\n  if (t.includes(\"founder\") || t.includes(\"co-founder\")) return \"C-Level\";\n  if (t.includes(\"president\") || t.includes(\"chairman\")) return \"C-Level\";\n  if (t.includes(\"cfo\") || t.includes(\"cto\") || t.includes(\"cio\")) return \"C-Level\";\n\n  if (t.includes(\"director\") || t.includes(\"diretor\")) return \"Director\";\n  if (t.includes(\"head\")) return \"Head\";\n  if (t.includes(\"manager\") || t.includes(\"gerente\")) return \"Manager\";\n  if (t.includes(\"lead\") || t.includes(\"lГӯder\")) return \"Lead\";\n\n  return \"Staff\";\n};\n\nconst roleScore = {\n  \"C-Level\": 5,\n  \"Director\": 4,\n  \"Head\": 3,\n  \"Manager\": 2,\n  \"Lead\": 1,\n  \"Staff\": 0,\n};\n\n// --- Entrada bruta ---------------------------------------------------\nlet raw = $input.all().map(i => i.json);\nif (raw.length === 1) raw = raw[0];\nif (raw?.output) try { raw = JSON.parse(raw.output); } catch {}\nif (typeof raw === \"string\") try { raw = JSON.parse(raw); } catch {}\n\nconst company = Array.isArray(raw) ? raw[0] : raw;\n\nif (!company || typeof company !== \"object\") {\n  return [{ json: { source_type: \"linkedin_info\", linkedin_info: raw }}];\n}\n\n// --- Employees + lideranГ§a -------------------------------------------\nlet employees = Array.isArray(company.employees) ? company.employees : [];\n\nconst cleanEmployees = employees.map(emp => {\n  const lvl = classifyRole(emp.role || \"\");\n  return {\n    name: emp.name || null,\n    role: emp.role || null,  // sem traduГ§ГЈo\n    profile_url: emp.profile_url || null,\n    decision_level: lvl,\n    relevance_score: roleScore[lvl] || 0\n  };\n});\n\nconst leadership = cleanEmployees\n  .filter(e => e.relevance_score >= 3)\n  .sort((a, b) => b.relevance_score - a.relevance_score)\n  .slice(0, 10);\n\n// --- Similar companies ------------------------------------------------\nconst similar = Array.isArray(company.similar_pages)\n  ? company.similar_pages.map(sp => ({\n      name: sp.name || null,\n      industry: sp.industry || \"\",\n      location: sp.location || null,\n      url: sp.url || null,\n      logo_url: sp.logo_url || null\n    }))\n  : [];\n\n// --- ConstruГ§ГЈo final sem traduГ§ГЈo -----------------------------------\nconst clean = {\n  name: company.name || null,\n  industry: company.industry || company.about_industry || \"\",\n  description: company.description || company.info || \"\",\n  short_description: company.info || \"\",\n  tagline: company.tagline || \"\",\n\n  website: company.website || null,\n  url: company.formatted_url || company.url || null,\n\n  followers: parseNumber(company.followers),\n  company_size: company.company_size || null,\n  employee_count: parseNumber(company.employee_count) || null,\n  company_type: company.company_type || null,\n\n  headquarters: company.headquarters || company.location || null,\n  founded: company.founded || null,\n  country_code: company.country_code || null,\n\n  specialties: Array.isArray(company.specialties)\n    ? company.specialties\n    : [],\n\n  all_locations: Array.isArray(company.all_locations)\n    ? company.all_locations\n    : [],\n\n  logoUrl: company.profile_pic_url || null,\n  background_cover_image_url: company.background_cover_image_url || null,\n\n  similar_companies: similar,\n  leadership,\n  employees: cleanEmployees.slice(0, 50)\n};\n\n// ---------------------------------------------------------------------\n\nreturn [\n  {\n    json: {\n      source_type: \"linkedin_info\",\n      linkedin_info: clean\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -336
      ],
      "id": "cc5f934b-3bec-4fac-a36f-7cb5c6504748",
      "name": "linkedin_company"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega TODOS os items retornados pelo ator\nlet rawList = items.map(i => i.json);\n\n// 2. Se algum vier como string вҶ’ parse\nrawList = rawList.map(r => {\n  if (r?.output) {\n    try { return JSON.parse(r.output); } catch { return r.output; }\n  }\n  if (typeof r === \"string\") {\n    try { return JSON.parse(r); } catch {}\n  }\n  return r;\n});\n\n// 3. Se vier como objeto indexado {0:{},1:{}} вҶ’ vira array\nrawList = rawList.flatMap(r => {\n  if (r && typeof r === \"object\" && !Array.isArray(r)) {\n    const keys = Object.keys(r);\n    const isSeq = keys.every((k, i) => String(i) === k);\n    if (isSeq) return Object.values(r);\n  }\n  return r;\n});\n\n// 4. Garantir array\nif (!Array.isArray(rawList)) rawList = [rawList];\n\n// 5. Clean final simplificado + stats completos + type\nreturn rawList.map(post => {\n  const mediaItem = Array.isArray(post?.media?.items) ? post.media.items[0] : null;\n\n  const cleanPost = {\n    id: post.activity_urn || post.full_urn || null,\n    text: post.text || \"\",\n    post_type: post.post_type || null,\n    posted_at: post.posted_at?.date || null,\n\n    stats: {\n      total_reactions: post.stats?.total_reactions ?? 0,\n      like: post.stats?.like ?? 0,\n      love: post.stats?.love ?? 0,\n      celebrate: post.stats?.celebrate ?? 0,\n      reposts: post.stats?.reposts ?? 0,\n      comments: post.stats?.comments ?? 0\n    },\n\n    media: {\n      type: post.media?.type || null,\n      url: mediaItem?.url || null,\n      thumbnail: mediaItem?.thumbnail || null,\n      duration: mediaItem?.duration || null\n    }\n  };\n\n  return {\n    json: {\n      source_type: \"linkedin_posts\",\n      linkedin_posts: cleanPost\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -144
      ],
      "id": "077d6d39-3626-4612-be4e-753198084ab1",
      "name": "linkedin_postagens"
    },
    {
      "parameters": {
        "jsCode": "// FunГ§ГЈo que decide tipo de mГӯdia, URL principal e thumbnail\nfunction getMediaInfo(post) {\n  let mediaType = 'image';\n  let mediaUrl = null;\n  let thumbnailUrl = null;\n\n  // Se tiver vГӯdeo, prioriza SEMPRE o vГӯdeo como mediaUrl\n  if (post.videoUrl) {\n    mediaType = 'video';\n    mediaUrl = post.videoUrl;\n\n    // Thumbnail do vГӯdeo (pra mostrar preview se quiser)\n    if (Array.isArray(post.images) && post.images.length > 0) {\n      thumbnailUrl = post.images[0];\n    } else if (post.displayUrl) {\n      thumbnailUrl = post.displayUrl;\n    }\n  } else {\n    // NГЈo tem vГӯdeo вҶ’ imagem ou carrossel\n    if (post.type === 'Sidecar') {\n      mediaType = 'carousel';\n    } else {\n      mediaType = 'image';\n    }\n\n    if (Array.isArray(post.images) && post.images.length > 0) {\n      mediaUrl = post.images[0];\n    } else if (post.displayUrl) {\n      mediaUrl = post.displayUrl;\n    }\n  }\n\n  return { mediaType, mediaUrl, thumbnailUrl };\n}\n\nconst results = [];\n\nfor (const item of items) {\n  const raw = Array.isArray(item.json) ? item.json[0] : item.json;\n  if (!raw) continue;\n\n  const username = raw.username || null;\n  const profileUrl =\n    raw.url ||\n    raw.inputUrl ||\n    (username ? `https://www.instagram.com/${username}` : null);\n\n  const followersCount = raw.followersCount ?? null;\n  const followsCount = raw.followsCount ?? null;\n  const postsCount = raw.postsCount ?? null;\n\n  const posts = [];\n\n  const latestPosts = Array.isArray(raw.latestPosts) ? raw.latestPosts : [];\n  const latestIgtv = Array.isArray(raw.latestIgtvVideos) ? raw.latestIgtvVideos : [];\n\n  // Junta posts e IGTV\n  const allPosts = [...latestPosts, ...latestIgtv];\n\n  // Ordena por data (mais recente primeiro), se tiver timestamp\n  allPosts.sort((a, b) => {\n    const ta = a.timestamp ? new Date(a.timestamp).getTime() : 0;\n    const tb = b.timestamp ? new Date(b.timestamp).getTime() : 0;\n    return tb - ta;\n  });\n\n  // рҹ‘ү AGORA USA TODOS OS POSTS (SEM LIMITAR EM 5)\n  for (const post of allPosts) {\n    const { mediaType, mediaUrl, thumbnailUrl } = getMediaInfo(post);\n\n    posts.push({\n      id: post.id || null,\n      caption: post.caption || '',\n      url: post.url || null,\n      mediaType,          // 'image' | 'video' | 'carousel'\n      mediaUrl,           // vГӯdeo real (mp4/etc) OU imagem\n      thumbnailUrl,       // capa opcional (principalmente pra vГӯdeo)\n      likesCount: post.likesCount ?? null,\n      commentsCount: post.commentsCount ?? null,\n      sharesCount: null,  // Instagram nГЈo expГөe isso direto\n      mentions: Array.isArray(post.mentions) ? post.mentions : [],\n      hashtags: Array.isArray(post.hashtags) ? post.hashtags : [],\n      timestamp: post.timestamp || null,\n    });\n  }\n\n  const instagram_info = {\n    username,\n    profileUrl,\n    profile: {\n      followersCount,\n      followsCount,\n      postsCount,\n    },\n    posts,\n  };\n\n  results.push({\n    json: {\n      instagram_info,\n    },\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        32
      ],
      "id": "ad169837-4ec9-428e-989d-ce9c665a96c7",
      "name": "instagram_company"
    },
    {
      "parameters": {
        "jsCode": "// items: saГӯda do ator do YouTube (um item por vГӯdeo)\nconst all = items.map(i => i.json);\n\n// Se nГЈo tiver vГӯdeo, retorna vazio\nif (!all.length) {\n  return [];\n}\n\n// Usa o primeiro vГӯdeo como base para dados do canal\nconst base = all[0];\n\nconst channel = {\n  name: base.channelName,\n  url: base.channelUrl,\n  totalVideos: base.channelTotalVideos,\n  totalViews: base.channelTotalViews,\n  subscribers: base.numberOfSubscribers,\n};\n\n// Mapeia sГі os campos importantes de cada vГӯdeo\nconst videos = all.map(v => ({\n  id: v.id,\n  title: v.title,\n  url: v.url,\n  thumbnailUrl: v.thumbnailUrl,\n  viewCount: v.viewCount,\n  likes: v.likes,\n  commentsCount: v.commentsCount,\n  publishedAt: v.date,\n}));\n\nreturn [\n  {\n    json: {\n      source_type: \"youtube_info\",\n      youtube_info: {\n        channel,\n        videos,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        240
      ],
      "id": "c2834323-3982-4c5b-a332-82d966724ba3",
      "name": "youtube_company"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3472,
        16
      ],
      "id": "7785e4ea-b98b-4fe3-8cd1-a7ca26181a40",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// рҹ§  HELPERS (PADRONIZAГҮГғO)\n// ===============================\nconst ensureArray = (data) => {\n  if (!data) return [];\n  if (Array.isArray(data)) return data;\n  if (typeof data === \"object\") return [data];\n  return [];\n};\n\n// рҹ”Ҙ resolver logo linkedin com fallback\nconst resolveLinkedinLogo = (li) => {\n  if (!li) return null;\n  return (\n    li.logoUrl ||\n    li.logo_url ||\n    li.profile_pic_url ||\n    li.image ||\n    li.picture ||\n    null\n  );\n};\n\n// ===============================\n// CAMADA 1 вҖ” RAW NORMALIZADO\n// ===============================\nlet linkedin_info = null;\nlet linkedin_posts = [];\n\nlet instagram_info = null;\nlet instagram_posts = [];\n\nlet youtube_info = null;\nlet glassdoor_info = null;\nlet blog_posts = [];\n\nlet similar_companies = [];\nlet market_research = null;\n\n// ===============================\n// LOOP EM TODOS OS INPUTS\n// ===============================\nfor (const item of items) {\n  const b = item.json;\n\n  if (b.market_research_raw && !market_research) {\n    market_research = b.market_research_raw;\n  }\n\n  if (b.linkedin_info || b.source_type === \"linkedin_info\") {\n    const li = b.linkedin_info || b;\n\n    if (!linkedin_info) linkedin_info = li;\n\n    if (Array.isArray(li.similar_companies)) {\n      similar_companies.push(...li.similar_companies);\n    }\n  }\n\n  if (b.linkedin_posts || b.source_type === \"linkedin_posts\") {\n    const posts = ensureArray(b.linkedin_posts || b.posts);\n    linkedin_posts.push(...posts);\n  }\n\n  if (b.instagram_info || b.source_type === \"instagram_info\") {\n    const ig = b.instagram_info || b;\n\n    if (!instagram_info) {\n      instagram_info = { ...ig };\n      delete instagram_info.posts;\n    }\n\n    instagram_posts.push(...ensureArray(ig.posts));\n  }\n\n  if (b.source_type === \"instagram_posts\") {\n    instagram_posts.push(...ensureArray(b.posts));\n  }\n\n  if (b.youtube_info || b.source_type === \"youtube\") {\n    if (!youtube_info) youtube_info = b.youtube_info || b;\n  }\n\n  if (b.glassdoor_info || b.source_type === \"glassdoor\") {\n    if (!glassdoor_info) glassdoor_info = b.glassdoor_info || b;\n  }\n\n  if (b.blog_posts || b.source_type === \"blog_posts\") {\n    const posts = ensureArray(b.blog_posts || b.posts);\n    blog_posts.push(...posts);\n  }\n\n  if (Array.isArray(b.similar_companies)) {\n    similar_companies.push(...b.similar_companies);\n  }\n}\n\n// ===============================\n// рҹ”Ҙ DEDUPE AVANГҮADO\n// ===============================\nconst dedupe = (arr) => {\n  const seen = new Set();\n\n  return arr.filter(item => {\n    const key =\n      item.id ||\n      item.url ||\n      item.link ||\n      item.name ||\n      JSON.stringify(item).slice(0, 100);\n\n    if (seen.has(key)) return false;\n\n    seen.add(key);\n    return true;\n  });\n};\n\nlinkedin_posts = dedupe(linkedin_posts);\ninstagram_posts = dedupe(instagram_posts);\nblog_posts = dedupe(blog_posts);\nsimilar_companies = dedupe(similar_companies);\n\n// ===============================\n// NORMALIZAГҮГғO SIMILAR\n// ===============================\nsimilar_companies = similar_companies.map(c => ({\n  name: c.name || null,\n  industry: c.industry || null,\n  location: c.location || null,\n  url: c.url || null,\n  logo_url: c.logo_url || c.logo || null,\n  source: c.source || \"linkedin\"\n}));\n\n// ===============================\n// рҹ§  MERGE INTELIGENTE\n// ===============================\nlet company = {};\n\nif (market_research?.company) {\n  const c = market_research.company;\n\n  company = {\n    nome: c.nome,\n    dominio: c.dominio,\n    descricao_institucional: c.descricao_institucional,\n    setor: c.setor,\n    produtos_servicos: c.produtos_servicos || [],\n    diferenciais: c.diferenciais || [],\n\n    tagline: linkedin_info?.tagline ?? null,\n    website: linkedin_info?.website ?? c.dominio ?? null,\n    linkedin_url: linkedin_info?.linkedin_url ?? null,\n    followers: linkedin_info?.followers ?? null,\n    company_size: linkedin_info?.company_size ?? null,\n    employee_count: linkedin_info?.employee_count ?? null,\n    company_type: linkedin_info?.company_type ?? null,\n    headquarters: linkedin_info?.headquarters ?? null,\n    founded: linkedin_info?.founded ?? null,\n    country_code: linkedin_info?.country_code ?? null,\n\n    specialties: [\n      ...(c.especialidades || []),\n      ...(linkedin_info?.specialties || [])\n    ]\n  };\n\n  company.specialties = [...new Set(company.specialties)];\n}\nelse if (linkedin_info) {\n  company = {\n    nome: linkedin_info.name,\n    dominio: linkedin_info.website,\n    descricao_institucional: linkedin_info.description,\n    setor: linkedin_info.industry,\n    specialties: linkedin_info.specialties || []\n  };\n}\n\n// ===============================\n// рҹ§  LOGO PRINCIPAL (APENAS ELE)\n// ===============================\nconst linkedin_logo = resolveLinkedinLogo(linkedin_info);\n\n// ===============================\n// OUTPUT FINAL\n// ===============================\nreturn [\n  {\n    json: {\n      company,\n      linkedin_logo, // вң… SOMENTE ELE\n\n      linkedin_posts,\n      instagram_info,\n      instagram_posts,\n      youtube_info,\n      glassdoor_info,\n      blog_posts,\n\n      similar_companies, // вң… logos continuam aqui dentro (logo_url)\n\n      market_research_raw: market_research\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        96
      ],
      "id": "9a819fe1-acff-46d5-bd07-29cc8facfcc3",
      "name": "FINAL1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2896,
        96
      ],
      "id": "13c8fd8f-f467-48f8-9bf5-e5bfec5335a9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Pegamos tudo que veio do ator (cada item Г© um review do Glassdoor)\nconst raw = items.map(i => i.json);\n\n// 1) Achar onde estГЈo as estatГӯsticas gerais (ratings, distribuiГ§ГЈo etc)\nconst statsCarrier = raw.find(r => r?.companyReviewStats?.data?.employerReviewsRG?.ratings);\nconst stats = statsCarrier?.companyReviewStats?.data;\n\n// 2) Notas gerais da empresa\nconst ratings = stats?.employerReviewsRG?.ratings || {};\n\n// 3) DistribuiГ§ГЈo das notas (1 a 5 estrelas)\nconst stars = stats?.employerReviewsRG?.ratingCountDistribution?.overall || {};\n\n// 4) Pegar APENAS UM review com pros/cons/advice (o primeiro que tiver algo Гәtil)\nconst oneReview = raw.find(r => r?.pros || r?.cons || r?.advice) || {};\n\n// 5) Montar saГӯda limpa, sem nome, cargo, localizaГ§ГЈo, nada pessoal\nreturn [\n  {\n    json: {\n      source_type: \"glassdoor_info\",\n      glassdoor_info: {\n        // Notas gerais importantes\n        overall_rating: ratings.overallRating ?? null,\n        compensation_benefits_rating: ratings.compensationAndBenefitsRating ?? null,\n        culture_values_rating: ratings.cultureAndValuesRating ?? null,\n        career_opportunities_rating: ratings.careerOpportunitiesRating ?? null,\n        work_life_balance_rating: ratings.workLifeBalanceRating ?? null,\n        diversity_inclusion_rating: ratings.diversityAndInclusionRating ?? null,\n        recommend_to_friend: ratings.recommendToFriendRating ?? null,\n        ceo_rating: ratings.ceoRating ?? null,\n\n        // DistribuiГ§ГЈo de estrelas\n        rating_distribution: {\n          one_star: stars._1 ?? 0,\n          two_stars: stars._2 ?? 0,\n          three_stars: stars._3 ?? 0,\n          four_stars: stars._4 ?? 0,\n          five_stars: stars._5 ?? 0\n        },\n\n        // Apenas UM exemplo de prГіs, contras e conselho\n        pros_example: oneReview.pros || null,\n        cons_example: oneReview.cons || null,\n        advice_example: oneReview.advice || null\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        480
      ],
      "id": "e0cf6170-0c36-4fc2-940e-a51886fe776a",
      "name": "glassdoor_company"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "8F2l3z0gKCYBCF4Bc",
          "mode": "list",
          "cachedResultName": "Glassdoor Scraper [Pay Per Result] (memo23/glassdoor-scraper-ppr)",
          "cachedResultUrl": "https://console.apify.com/actors/8F2l3z0gKCYBCF4Bc/input"
        },
        "customBody": "={\n  \"command\": \"reviews\",\n  \"includeAllReviews\": false,\n  \"includeAllSalaries\": false,\n  \"includeCompanyBenefitsStats\": true,\n  \"includeCompanyInterviewStats\": true,\n  \"includeCompanyReviewStats\": true,\n  \"monitoringModeForReviews\": false,\n  \"proxy\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"RESIDENTIAL\"\n    ]\n  },\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.glassdoor_url }}\"\n    }\n  ],\n  \"sortReviewsBy\": \"RELEVANCE\",\n  \"maxItems\": 1,\n  \"maxConcurrency\": 1,\n  \"minConcurrency\": 1,\n  \"maxRequestRetries\": 1\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4480,
        480
      ],
      "id": "0c472d83-32ae-403d-a385-5c36ea633f87",
      "name": "glassdoor",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "PCfaMYq84TClmUfT",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar o texto vindo do agente (string JSON)\nconst raw =\n  items[0].json?.response?.generations?.[0]?.[0]?.text ||\n  items[0].json?.response?.generations?.[0]?.text ||\n  items[0].json?.output ||\n  items[0].json?.response ||\n  null;\n\nif (!raw) {\n  return [{\n    json: { news_research_raw: null, _error: \"Sem conteГәdo para parsear\" }\n  }];\n}\n\n// 2. Limpeza dos blocos ```json / ```\nlet cleaned = raw\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```javascript/gi, \"\")\n  .replace(/```JSON/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 3. Remover caracteres invisГӯveis problemГЎticos\ncleaned = cleaned.replace(/\\u00A0/g, \" \"); // NBSP\ncleaned = cleaned.replace(/\\u200B/g, \"\"); // Zero-width\n\n// 4. Tentar converter para JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{\n    json: {\n      news_research_raw: cleaned,\n      _error: \"JSON.parse falhou\",\n      _details: err.message\n    }\n  }];\n}\n\n// 5. Extrair corretamente o objeto final\nlet finalData = parsed.news_research_raw ? parsed.news_research_raw : parsed;\n\n// 6. Garantir que news_and_updates seja array\nif (finalData?.news_and_updates && !Array.isArray(finalData.news_and_updates)) {\n  finalData.news_and_updates = [finalData.news_and_updates];\n}\n\n// 7. Garantir que references seja sempre array\nif (finalData?.references && !Array.isArray(finalData.references)) {\n  finalData.references = [finalData.references];\n}\n\n// 8. Retorno final\nreturn [{\n  json: {\n    news_research_raw: finalData\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        -1168
      ],
      "id": "e1f09344-20c7-4509-80b4-497eab1ee575",
      "name": "pesquisa_web1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "market_research_raw"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        -816
      ],
      "id": "bcf40835-cef1-4a6c-923a-39b0746157da",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Pesquise informaГ§Гөes institucionais reais da empresa:\ndescriГ§ГЈo, setor, produtos, serviГ§os, diferenciais, mercado-alvo, modelos de negГіcio, parceiros e clientes citados publicamente.\nSempre citar as fontes. Nunca inventar.`, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Results', ``, 'number') }}",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -2752,
        -800
      ],
      "id": "3aae0fa9-665b-4e27-b595-987e052b046f",
      "name": "search_institutional1",
      "credentials": {
        "tavilyApi": {
          "id": "Y4MhIDT3Jfd7vdHn",
          "name": "Tavily account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "crawl",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {
          "exclude_paths": [],
          "format": "markdown"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -2560,
        -800
      ],
      "id": "67e28161-1c43-455c-95f6-ad588f0f85f5",
      "name": "crawl_institutional1",
      "credentials": {
        "tavilyApi": {
          "id": "Y4MhIDT3Jfd7vdHn",
          "name": "Tavily account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsupdater",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3504,
        -1168
      ],
      "id": "453e25a6-f64e-49b2-92e6-b53e8483a63d",
      "name": "Webhook1",
      "webhookId": "465e4fbe-276c-4aa3-8202-332f9a35d529"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2048,
        -1168
      ],
      "id": "25fc0311-5266-48c8-8abf-1342e8a9f7c4",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=VocГӘ Г© um agente de pesquisa inteligente especializado em encontrar notГӯcias, atualizaГ§Гөes e movimentaГ§Гөes REAIS sobre a empresa informada (concorrente, prospect ou cliente).\n\nSua missГЈo Г© buscar, validar e organizar SOMENTE informaГ§Гөes recentes e verificГЎveis usando exclusivamente:\n- search_institutional (Tavily Search)\n- crawl_institutional (Tavily Crawl)\n\nVocГӘ pode chamar as ferramentas quantas vezes forem necessГЎrias, com novas queries e refinamentos.\n```\n\n---\n\n## рҹ”Һ VALIDAГҮГғO OBRIGATГ“RIA\n\nApenas aceite uma notГӯcia se TODAS as condiГ§Гөes abaixo forem verdade:\n\n1. O conteГәdo menciona claramente **a empresa pesquisada** pelo nome (ou razГЈo social).\n2. A notГӯcia estГЎ relacionada ao contexto **corporativo** da empresa:\n\n   * tecnologia\n   * contrataГ§Гөes\n   * parcerias\n   * aquisiГ§Гөes\n   * eventos\n   * produtos/serviГ§os\n   * mercado\n   * negГіcios\n3. O conteГәdo NГғO deve ser incluГӯdo se:\n\n   * for sobre pessoas com nome semelhante (ex: \"Can Yaman\" вү  empresa Yaman)\n   * for sobre outra marca com nome parecido\n   * for sobre setores sem relaГ§ГЈo com a empresa pesquisada\n   * nГЈo houver relaГ§ГЈo explГӯcita com a empresa informada\n\nSe houver ruГӯdo, execute **novas re-queries** usando termos como:\nвҖңempresaвҖқ, вҖңtecnologiaвҖқ, вҖңcontrataГ§ГЈoвҖқ, вҖңparceriaвҖқ, вҖңmercadoвҖқ, вҖңSAPвҖқ, вҖңTIвҖқ, вҖңsoftwareвҖқ, вҖңinovaГ§ГЈoвҖқ, вҖңcorporativoвҖқ.\n\nContinue refinando atГ© obter apenas resultados vГЎlidos.\n\n---\n\n## рҹҢҗ O QUE BUSCAR\n\nApenas novidades verdadeiramente ligadas Г  empresa pesquisada, como:\n\n* notГӯcias externas\n* posts de blog\n* anГәncios oficiais\n* contrataГ§ГЈo de executivos\n* parcerias e alianГ§as\n* investimentos\n* eventos\n* premiaГ§Гөes\n* lanГ§amentos\n* fusГөes/aquisiГ§Гөes\n* mudanГ§as estratГ©gicas\n* movimentaГ§Гөes de mercado\n\n**PerГӯodo: as noticias recentes ate os Гәltimos 120 dias.**\n\n---\n\n## вҡ пёҸ REGRAS\n\n* Nunca inventar dados ou fontes.\n* Toda informaГ§ГЈo deve vir das ferramentas Tavily.\n* URLs devem ser reais.\n* Tudo em PT-BR, exceto datas (YYYY-MM-DD).\n* Campos sem informaГ§Гөes devem retornar `null`.\n* A resposta final deve ser **somente o JSON**, sem comentГЎrios.\n\n---\n\n## рҹ§© ENTRADA\n\n```\nempresa: {{ $json.body.domain }} {{ $json.chatInput }}\n```\n\n---\n\n## рҹҺҜ FORMATO DE SAГҚDA (OBRIGATГ“RIO)\n\n```\n{\n  \"news_research_raw\": {\n    \"news_and_updates\": [\n      {\n        \"titulo\": null,\n        \"url\": null,\n        \"data\": null,\n        \"resumo\": null,\n        \"tipo\": null\n      }\n    ],\n    \"references\": []\n  }\n}\n```\n\n### ObservaГ§Гөes finais:\n\n* \"news_and_updates\" deve conter apenas itens vГЎlidos e confirmados.\n* Tipos possГӯveis:\n  \"notГӯcia externa\", \"post de blog\", \"lanГ§amento\", \"parceria\", \"aquisiГ§ГЈo\",\n  \"contrataГ§ГЈo estratГ©gica\", \"comunicado oficial\", \"outro\".\n* \"references\" deve listar todas as URLs consultadas (sem duplicaГ§ГЈo).\n* Nada deve aparecer fora do JSON.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -3104,
        -1168
      ],
      "id": "5665812b-4ef1-40b8-9db8-0602f7f8f32d",
      "name": "NewsUpdater",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## AnГЎlise de Mercado вҖ“ MANUAL - COMPLETO",
        "height": 1968,
        "width": 3712,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6368,
        -448
      ],
      "id": "67b30c94-a35f-4b42-818a-f3bb1fe8fbd5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Atualizador Inteligente de NotГӯcias - MANUAL",
        "height": 640,
        "width": 1824,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3616,
        -1264
      ],
      "id": "e17bf9f0-e6b7-49a3-9a72-9a346238e119",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oficialautomatico",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2320,
        208
      ],
      "id": "dd4af229-4795-4b8b-be41-db4a38f10b07",
      "name": "Webhook2",
      "webhookId": "465e4fbe-276c-4aa3-8202-332f9a35d529"
    },
    {
      "parameters": {
        "content": "## ## AnГЎlise de Mercado - AUTOMГҒTICO - COMPLETO",
        "height": 1984,
        "width": 3616
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2512,
        -464
      ],
      "id": "c72ee23f-e969-4c65-ad79-49a5d41d38ba",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=AGENTE вҖ” Pesquisa Corporativa\n\nUSE AS FERRAMENTAS:\n- crawl_institutional вҶ’ URLs jГЎ conhecidas\n- search_institutional вҶ’ buscas gerais, OBRIGATГ“RIO para pessoas-chave e notГӯcias.\n\nREGRAS:\n- Apenas dados encontrados pelas ferramentas\n- NГЈo inventar dados, URLs ou usar conhecimento prГіprio\n- NГЈo encontrou вҶ’ null ou []\n- NГЈo usar markdown, nГЈo truncar, nГЈo envolver JSON em string\n\nENTRADA:\n- DomГӯnio: {{ $json.domain }} \n\nCOLETA:\n\n[1] EMPRESA вҖ” crawl_institutional nos links da entrada\nNome, setor, descriГ§ГЈo, produtos/serviГ§os, diferenciais, mercado-alvo,\nmodelo de negГіcio, parceiros, clientes, especialidades.\n\n[2] PRESENГҮA DIGITAL вҖ” crawl_institutional nos links da entrada\nDiscurso institucional, tГіpicos recorrentes, curiosidades,\ncanais digitais, eventos, materiais ricos (e-books, cases, podcasts).\n\n[3] PESSOAS-CHAVE вҖ” search_institutional3 (OBRIGATГ“RIO)\nCEO, fundadores, diretores, presidentes.\nColetar: nome, cargo, LinkedIn, fonte.\n\n[4] NOTГҚCIAS DE MERCADO вҖ” search_institutional3 (OBRIGATГ“RIO)\nApenas notГӯcias de terceiros em veГӯculos externos (Exame, Valor,\nG1, InfoMoney, Startups.com.br, IT Forum, Reuters, Bloomberg, etc.)\nVГЎlido: aquisiГ§Гөes, fusГөes, mudanГ§as de lideranГ§a, expansГөes,\nparcerias, premiaГ§Гөes, investimentos, eventos relevantes.\nPROIBIDO: blog da empresa, artigos educativos, conteГәdo prГіprio.\nANTI-DUPLICATA: mesmo evento em vГЎrias fontes вҶ’ manter sГі a melhor.\n\n[5] ANГҒLISE ESTRATГүGICA вҖ” gerado pelo agente\nVisГЈo geral, posicionamento, dinГўmica competitiva,\ninsights acionГЎveis para time comercial, resumo executivo.\n\nSAГҚDA вҖ” SOMENTE JSON vГЎlido:\n\n{\n  \"market_research_raw\": {\n    \"company\": {\n      \"nome\": null,\n      \"dominio\": null,\n      \"descricao_institucional\": null,\n      \"setor\": null,\n      \"produtos_servicos\": [],\n      \"diferenciais\": [],\n      \"mercado_alvo\": null,\n      \"modelo_negocio\": null,\n      \"especialidades\": [],\n      \"parceiros\": [],\n      \"clientes_citados\": [],\n      \"pessoas_chave\": [\n        { \"nome\": null, \"cargo\": null, \"linkedin\": null, \"fonte_url\": null }\n      ]\n    },\n    \"positioning\": {\n      \"discurso_institucional\": null,\n      \"topicos_recorrentes\": [],\n      \"curiosidades_institucionais\": [],\n      \"presenca_digital\": {\n        \"site_institucional\": null,\n        \"blog\": null,\n        \"linkedin\": null,\n        \"instagram\": null,\n        \"youtube\": null,\n        \"outros_canais\": [],\n        \"eventos\": [],\n        \"materiais_ricos\": []\n      }\n    },\n    \"news_and_market_actions\": [\n      { \"titulo\": null, \"url\": null, \"data\": null, \"resumo\": null, \"tipo\": null, \"fonte\": null }\n    ],\n    \"strategic_analysis\": {\n      \"visao_geral\": null,\n      \"posicionamento\": null,\n      \"dinamica_competitiva\": null,\n      \"insights_estrategicos\": null,\n      \"resumo_executivo\": null\n    },\n    \"references\": []\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -4496,
        896
      ],
      "id": "c43185e6-709f-4745-9777-4031660b57cc",
      "name": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4720,
        1296
      ],
      "id": "e1cad167-0513-4ef3-9fe2-cd534b17fee2",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ywB5icFxO6TpzOJD",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar o texto vindo do agente (string JSON)\nlet raw =\n  items[0].json?.response?.generations?.[0]?.[0]?.text ||\n  items[0].json?.response?.generations?.[0]?.text ||\n  items[0].json?.output ||\n  items[0].json?.response ||\n  null;\n\n// 2. ValidaГ§ГЈo inicial\nif (!raw) {\n  return [{\n    json: {\n      market_research_raw: null,\n      _error: \"Sem conteГәdo para parsear\"\n    }\n  }];\n}\n\n// рҹ”Ҙ HARDEN 1 вҖ” detectar JSON encapsulado como string\nif (typeof raw === \"string\" && raw.includes('\"market_research_raw\": \"{')) {\n  try {\n    const outer = JSON.parse(raw);\n    if (typeof outer.market_research_raw === \"string\") {\n      raw = outer.market_research_raw;\n    }\n  } catch (e) {}\n}\n\n// рҹ”Ҙ HARDEN 2 вҖ” evitar erro de agent travado\nif (typeof raw === \"string\" && raw.toLowerCase().includes(\"agent stopped\")) {\n  return [{\n    json: {\n      market_research_raw: null,\n      _error: \"Agent stopped (max iterations)\"\n    }\n  }];\n}\n\n// 3. Limpeza de markdown e sujeira\nlet cleaned = String(raw)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```javascript/gi, \"\")\n  .replace(/```JSON/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 4. Remover caracteres invisГӯveis problemГЎticos\ncleaned = cleaned.replace(/\\u00A0/g, \" \"); // Non-breaking space\ncleaned = cleaned.replace(/\\u200B/g, \"\"); // Zero-width space\n\n// рҹ”Ҙ HARDEN 3 вҖ” tentar extrair JSON vГЎlido se tiver texto misturado\nconst firstBrace = cleaned.indexOf(\"{\");\nconst lastBrace = cleaned.lastIndexOf(\"}\");\nif (firstBrace !== -1 && lastBrace !== -1) {\n  cleaned = cleaned.slice(firstBrace, lastBrace + 1);\n}\n\n// 5. Tentar converter para JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{\n    json: {\n      market_research_raw: cleaned,\n      _error: \"JSON.parse falhou\",\n      _details: err.message\n    }\n  }];\n}\n\n// рҹ”Ҙ HARDEN 4 вҖ” caso ainda venha como string\nif (typeof parsed === \"string\") {\n  try {\n    parsed = JSON.parse(parsed);\n  } catch (e) {}\n}\n\n// 6. Extrair corretamente o market_research_raw\nlet finalData = parsed.market_research_raw ? parsed.market_research_raw : parsed;\n\n// рҹ”Ҙ HARDEN 5 вҖ” evitar string dentro novamente\nif (typeof finalData === \"string\") {\n  try {\n    finalData = JSON.parse(finalData);\n  } catch (e) {}\n}\n\n// 7. NormalizaГ§ГЈo do domГӯnio\nif (finalData?.company?.dominio && Array.isArray(finalData.company.dominio)) {\n  finalData.company.dominio = finalData.company.dominio[0];\n}\n\n// 8. Garantir arrays corretos\nif (finalData?.news_and_actions && !Array.isArray(finalData.news_and_actions)) {\n  finalData.news_and_actions = [finalData.news_and_actions];\n}\n\nif (finalData?.references && !Array.isArray(finalData.references)) {\n  finalData.references = [finalData.references];\n}\n\n// рҹ”Ҙ HARDEN 6 вҖ” remover URLs fake tipo exemplo.com\nif (Array.isArray(finalData?.references)) {\n  finalData.references = finalData.references.filter(url =>\n    typeof url === \"string\" && !url.includes(\"exemplo.com\")\n  );\n}\n\n// 9. Retorno final\nreturn [{\n  json: {\n    market_research_raw: finalData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        896
      ],
      "id": "a504448a-6302-44ba-a00a-bfc061dbede1",
      "name": "pesquisa_web"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3120,
        -832
      ],
      "id": "7246aed2-2a80-40f7-9569-22520fa35ebd",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "oRHofsN5z5Ghmh50",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "query": "=glassdor \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "include_domains": []
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -5648,
        400
      ],
      "id": "3053e957-4c87-4bed-ad59-b62d5f1b1eac",
      "name": "glassdor1",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=canal \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "max_results": 5,
          "include_raw_content": true,
          "include_domains": [
            "https://www.youtube.com"
          ]
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -5648,
        224
      ],
      "id": "455ef989-1a28-4dbb-b9a2-49853ca3b955",
      "name": "youtube4",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=site:instagram.com \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\" -reel -reels -p",
        "options": {
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -5648,
        48
      ],
      "id": "90609b30-b787-431d-ae67-926ebafa8550",
      "name": "instagram3",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=site:linkedin.com/company \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "include_raw_content": true,
          "include_domains": []
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -5648,
        -160
      ],
      "id": "a0ff7b99-76e8-4bc5-a2e4-67d77e6546fe",
      "name": "linkedin1",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=\"\"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"\" (blog OR artigos OR insights)",
        "options": {
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -5648,
        592
      ],
      "id": "7336e2d0-9066-4747-832e-118480c47e73",
      "name": "blog1",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5248,
        192
      ],
      "id": "e2b8cb82-dccb-4001-90b4-bb0a2b43bce1",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const allUrls = [];\nconst allTextArr = [];\n\nconst items = $input.all();\nitems.forEach(item => {\n  const data = item.json;\n  const queries = Array.isArray(data) ? data : [data];\n  queries.forEach(query => {\n    (query.results || []).forEach(r => {\n      if (r.url) allUrls.push(r.url);\n      if (r.raw_content) allTextArr.push(r.raw_content);\n      if (r.content) allTextArr.push(r.content);\n    });\n  });\n});\n\nconst allText = allTextArr.join('\\n');\n\n// в”Җв”Җ FunГ§ГЈo para limpar domГӯnio в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nfunction cleanDomain(url) {\n  if (!url) return null;\n  return url\n    .replace(/https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/\\/.*$/, '')\n    .trim();\n}\n\n// в”Җв”Җ LinkedIn в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet linkedin_url = null;\nconst liFromField = allText.match(/Linkedin[_ ]?Url:\\s*(https?:\\/\\/(?:[\\w-]+\\.)?linkedin\\.com\\/company\\/[\\w-]+)/i);\nif (liFromField) {\n  const m = liFromField[1].match(/linkedin\\.com(\\/company\\/[\\w-]+)/i);\n  linkedin_url = m ? 'https://www.linkedin.com' + m[1] : null;\n}\nif (!linkedin_url) {\n  const liCompany = allUrls\n    .filter(u => /linkedin\\.com\\/company\\/[\\w-]+/i.test(u))\n    .map(u => { const m = u.match(/linkedin\\.com(\\/company\\/[\\w-]+)/i); return m ? 'https://www.linkedin.com' + m[1] : null; })\n    .filter(Boolean)\n    .sort((a, b) => a.length - b.length);\n  linkedin_url = liCompany[0] || null;\n}\n\n// в”Җв”Җ Instagram в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst igUrls = allUrls\n  .filter(u => /instagram\\.com\\/(?!explore|accounts|legal|web|_)([\\w.]+)/i.test(u))\n  .map(u => { const m = u.match(/instagram\\.com\\/([\\w.]+)/i); return m ? `https://www.instagram.com/${m[1]}/` : null; })\n  .filter(Boolean)\n  .sort((a, b) => a.length - b.length);\nconst instagram_url = igUrls[0] || null;\n\n// в”Җв”Җ YouTube в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet youtube_url = null;\nconst ytFromUrl = allUrls\n  .filter(u => /youtube\\.com\\/@[\\w-]+/i.test(u))\n  .map(u => { const m = u.match(/youtube\\.com\\/@([\\w-]+)/i); return m ? `https://www.youtube.com/@${m[1]}` : null; })\n  .filter(Boolean);\n\nif (ytFromUrl.length) {\n  youtube_url = ytFromUrl[0];\n} else {\n  const ytFromText = allText.match(/youtube\\.com\\/@([\\w-]+)/i);\n  if (ytFromText) {\n    youtube_url = `https://www.youtube.com/@${ytFromText[1]}`;\n  } else {\n    const ytC = allUrls.find(u => /youtube\\.com\\/(c|channel)\\//i.test(u));\n    youtube_url = ytC ? ytC.split('?')[0] : null;\n  }\n}\n\n// в”Җв”Җ Glassdoor в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst gdOverview = allUrls.find(u => /glassdoor/.test(u) && /Working-at|Overview|Vis.o-geral|Trabalhar/i.test(u));\nconst glassdoor_url = (gdOverview || allUrls.find(u => /glassdoor/.test(u)))?.split('?')[0] || null;\n\n// в”Җв”Җ Blog в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet blog_url = null;\nconst blogFromUrl = allUrls.find(u => {\n  const clean = u.replace(/\\?.*/, '');\n  return /\\/blog\\/?$/.test(clean) || /^https?:\\/\\/blog\\./i.test(clean);\n});\nif (blogFromUrl) {\n  blog_url = blogFromUrl.split('?')[0].replace(/\\/?$/, '/');\n} else {\n  const blogFromText = allText.match(/https?:\\/\\/(?:blog\\.[\\w.-]+|[\\w.-]+\\/blog)\\/?/i);\n  if (blogFromText) blog_url = blogFromText[0].replace(/\\/?$/, '/');\n}\n\n// в”Җв”Җ Domain в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet domain = null;\nconst siteFromField = allText.match(/Website:\\s*(https?:\\/\\/[\\w.-]+\\.[\\w]{2,}[\\/]?)/i);\nif (siteFromField) {\n  domain = cleanDomain(siteFromField[1]);\n}\nif (!domain) {\n  const firstItem = items[0];\n  const query = firstItem?.json?.query || '';\n  const qMatch = query.match(/https?:\\/\\/[\\w.-]+\\.[\\w]{2,}[\\/]?/i);\n  if (qMatch) domain = cleanDomain(qMatch[0]);\n}\n\nreturn [{\n  json: {\n    domain,\n    linkedin_url,\n    instagram_url,\n    youtube_url,\n    glassdoor_url,\n    blog_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4992,
        240
      ],
      "id": "778e81e8-fcce-4c01-9c35-c06af39e6b80",
      "name": "URLs"
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $json.blog_url }}"
        ],
        "options": {
          "include_images": true,
          "extract_depth": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -4480,
        688
      ],
      "id": "d4ce6360-9305-4970-9808-005877d84eb5",
      "name": "blog",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node вҖ“ BLOG POSTS (Universal Multi-format)\n// Detecta e suporta automaticamente diferentes estruturas de blog\n\n// --- Helpers ---------------------------------------------------------\nconst parseDate = (str) => {\n  if (!str) return null;\n  const months = {\n    'janeiro':'01','fevereiro':'02','marГ§o':'03','abril':'04',\n    'maio':'05','junho':'06','julho':'07','agosto':'08',\n    'setembro':'09','outubro':'10','novembro':'11','dezembro':'12'\n  };\n  let m;\n  m = str.match(/(\\d+)\\s+de\\s+([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+)\\s+de\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[2].toLowerCase()]; if (mo) return `${String(m[1]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  m = str.match(/(\\d+)\\s+([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+),\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[2].toLowerCase()]; if (mo) return `${String(m[1]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  m = str.match(/([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+)\\s+(\\d+),\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[1].toLowerCase()]; if (mo) return `${String(m[2]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  return null;\n};\n\nconst toAbsoluteUrl = (url, base) => {\n  if (!url) return null;\n  if (/^https?:\\/\\//i.test(url)) return url;\n  try {\n    const b = new URL(base);\n    return `${b.protocol}//${b.host}${url.startsWith('/') ? '' : '/'}${url}`;\n  } catch { return url; }\n};\n\nconst parseReadingTime = (str) => {\n  if (!str) return null;\n  const m = str.match(/(\\d+)/);\n  return m ? parseInt(m[1]) : null;\n};\n\nconst SKIP_TITLES = /newsletter|inscreva|fale com|contato|assine|mais lidas|novidades|carregue|load more/i;\n\n// --- Entrada bruta ---------------------------------------------------\nlet raw = $input.all().map(i => i.json);\nconst data = Array.isArray(raw) ? raw[0] : raw;\nconst results = Array.isArray(data?.results) ? data.results : [];\nconst result = results[0] || {};\nconst content = result.raw_content || '';\nconst blogUrl = result.url || null;\nconst imagesArr = Array.isArray(result.images) ? result.images : [];\n\nconst posts = [];\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 1 вҖ” LAB2DEV: ## Title + * Minutos de leitura\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isLab2devFormat = /\\*\\s+\\d+\\s+[Mm]inutos de leitura/.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 2 вҖ” VERICODE: ## [Title](https://full-url)\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isVericodeFormat = !isLab2devFormat && /##\\s+\\[[^\\]]+\\]\\(https?:\\/\\//.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 3 вҖ” YAMAN / NEXT.JS: [### Title](/blog/slug) relativo\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isYamanFormat = !isLab2devFormat && !isVericodeFormat && /\\[###\\s+[^\\]]+\\]\\(\\//.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 4 вҖ” GENГүRICO: ### [Title](url) ou #### [Title](url)\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isGenericFormat = !isLab2devFormat && !isVericodeFormat && !isYamanFormat\n  && /#{2,4}\\s+\\[[^\\]]+\\]\\([^)]+\\)/.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nif (isLab2devFormat) {\n  const urlMap = {};\n  const extractUrls = (text) => {\n    const re = /###?\\s+\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n    let m;\n    while ((m = re.exec(text)) !== null) urlMap[m[1].trim()] = m[2].trim();\n  };\n  const maisIdx = content.indexOf('## Mais Lidas');\n  const novIdx  = content.indexOf('## Novidades');\n  if (maisIdx >= 0) extractUrls(content.slice(maisIdx));\n  if (novIdx  >= 0) extractUrls(content.slice(novIdx));\n\n  const sideStart = [maisIdx, novIdx].filter(i => i >= 0).reduce((mn,i) => Math.min(mn,i), Infinity);\n  const main = sideStart !== Infinity ? content.slice(0, sideStart) : content;\n\n  const blockRe = /(\\[[^\\]]+\\]\\([^\\)]+\\)(?:,\\s*\\[[^\\]]+\\]\\([^\\)]+\\))*)\\s*\\n+##\\s+([^\\n]+)\\s*\\n+\\*\\s+([^\\n]+)\\s*\\n+\\*\\s+(\\d+\\s+[Mm]inutos de leitura)/g;\n  let bm;\n  while ((bm = blockRe.exec(main)) !== null) {\n    const title = bm[2].trim();\n    if (SKIP_TITLES.test(title)) continue;\n    const catRe = /\\[([^\\]]+)\\]\\(([^\\)]+)\\)/g;\n    const categories = [];\n    let cm;\n    while ((cm = catRe.exec(bm[1])) !== null) categories.push({ name: cm[1].trim(), url: cm[2].trim() });\n    posts.push({\n      title,\n      url: urlMap[title] || null,\n      published_at: parseDate(bm[3].trim()),\n      reading_time_minutes: parseReadingTime(bm[4]),\n      categories,\n      cover_image_url: null,\n      author: null\n    });\n  }\n\n} else if (isVericodeFormat) {\n  const titleRe = /##\\s+\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n  let tm;\n  const titleMatches = [];\n  while ((tm = titleRe.exec(content)) !== null) {\n    if (SKIP_TITLES.test(tm[1])) continue;\n    titleMatches.push({ title: tm[1].trim(), url: tm[2].trim(), index: tm.index, end: tm.index + tm[0].length });\n  }\n  titleMatches.forEach((t) => {\n    const lb = content.slice(Math.max(0, t.index - 700), t.index);\n    const lf = content.slice(t.end, Math.min(content.length, t.end + 400));\n    const coverM = [...lb.matchAll(/\\[!\\[[^\\]]*\\]\\(([^)]+)\\)\\]\\([^)]+\\)/g)];\n    const cover_image_url = coverM.length ? coverM[coverM.length - 1][1] : null;\n    const catRe = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]*\\/categori[^)]+)\\)/g;\n    const categories = [...lb.matchAll(catRe)].map(c => ({ name: c[1].trim(), url: c[2].trim() }));\n    const dateM = lb.match(/вҖў\\s+(\\d+\\s+de\\s+[a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+\\s+de\\s+\\d{4})/i);\n    const published_at = dateM ? parseDate(dateM[1]) : null;\n    const authorM = lf.match(/!\\[[^\\]]*\\]\\([^)]+\\)\\n+([^\\n!\\[#*вҖў\\]]{2,40})\\n/);\n    let author = authorM ? authorM[1].trim() : null;\n    if (!author || /^avatar$/i.test(author)) author = null;\n    posts.push({ title: t.title, url: t.url, published_at, reading_time_minutes: null, categories, cover_image_url, author });\n  });\n\n} else if (isYamanFormat) {\n  // PadrГЈo: imagem + categoria + [### TГӯtulo](/slug)\n  const blocks = content.split(/(?=!\\[)/);\n  // Imagens do array separado (sem hero/opengraph)\n  const postImages = imagesArr.filter(img =>\n    !/hero|opengraph|logo|icon|avatar/i.test(img) &&\n    /\\.(webp|jpg|jpeg|png)/i.test(img)\n  );\n  let imgIdx = 0;\n\n  const entryRe = /\\[([^\\]]*)\\]\\(\\/blog\\/categoria\\/([^)]+)\\)[,\\s]*(?:\\[([^\\]]*)\\]\\(\\/blog\\/categoria\\/([^)]+)\\))?\\s*\\n+\\[###\\s+([^\\]]+)\\]\\(([^)]+)\\)/g;\n  let em;\n  while ((em = entryRe.exec(content)) !== null) {\n    const title = em[5].trim();\n    if (SKIP_TITLES.test(title)) continue;\n    const url = toAbsoluteUrl(em[6], blogUrl);\n    const categories = [{ name: em[1].trim(), url: toAbsoluteUrl(`/blog/categoria/${em[2]}`, blogUrl) }];\n    if (em[3]) categories.push({ name: em[3].trim(), url: toAbsoluteUrl(`/blog/categoria/${em[4]}`, blogUrl) });\n    posts.push({\n      title,\n      url,\n      published_at: null,\n      reading_time_minutes: null,\n      categories,\n      cover_image_url: postImages[imgIdx++] || null,\n      author: null\n    });\n  }\n\n} else if (isGenericFormat) {\n  // Fallback genГ©rico: captura qualquer ## [Title](url)\n  const re = /#{2,4}\\s+\\[([^\\]]+)\\]\\(([^)]+)\\)/g;\n  let m;\n  const seen = new Set();\n  while ((m = re.exec(content)) !== null) {\n    const title = m[1].trim();\n    const url   = toAbsoluteUrl(m[2].trim(), blogUrl);\n    if (SKIP_TITLES.test(title)) continue;\n    if (seen.has(title)) continue;\n    seen.add(title);\n    // Tenta pegar categoria antes do tГӯtulo\n    const before = content.slice(Math.max(0, m.index - 300), m.index);\n    const catM = before.match(/\\[([^\\]]+)\\]\\(\\/[^)]*categor[^)]*\\)/i);\n    const categories = catM ? [{ name: catM[1].trim(), url: toAbsoluteUrl(catM[0].match(/\\(([^)]+)\\)/)[1], blogUrl) }] : [];\n    posts.push({ title, url, published_at: null, reading_time_minutes: null, categories, cover_image_url: null, author: null });\n  }\n}\n\n// --- Resultado (apenas os 6 mais recentes) ---------------------------\nreturn [{\n  json: {\n    source_type: 'blog_posts',\n    blog_url: blogUrl,\n    scraped_at: new Date().toISOString(),\n    total_found: posts.length,\n    total_returned: Math.min(posts.length, 6),\n    posts: posts.slice(0, 6)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        688
      ],
      "id": "7cfca697-7907-4870-959c-cc7fa4d6490e",
      "name": "blog_company"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oficial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6192,
        288
      ],
      "id": "1a3ba6c8-6757-4bd3-9161-742a772c214a",
      "name": "Webhook",
      "webhookId": "38f1f4d0-8b1a-40e2-b678-f3644f624b9d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -6192,
        64
      ],
      "id": "e583c666-d27f-4a50-96e8-705a87c02c20",
      "name": "When chat message received",
      "webhookId": "73ae7f8b-b2d1-4043-9969-0f83282614ee"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "dutBfLahHvTirBwyR",
          "mode": "list",
          "cachedResultName": "LinkedIn Company Profile Scraper (pratikdani/linkedin-company-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/dutBfLahHvTirBwyR/input"
        },
        "customBody": "={\n    \"url\": \"{{ $('URLs1').item.json.linkedin_url }}\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -704,
        -352
      ],
      "id": "4cbe71cd-e6cf-452b-9491-e0600abb90f8",
      "name": "linkedin_info1",
      "credentials": {
        "apifyApi": {
          "id": "Vk76cQXrlJCO4TJw",
          "name": "INFINITFY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json.instagram_url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 5,\n    \"resultsType\": \"details\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -704,
        16
      ],
      "id": "f40c2dfe-1fe3-438d-a5f1-813b3988a9bd",
      "name": "instagram1",
      "credentials": {
        "apifyApi": {
          "id": "Vk76cQXrlJCO4TJw",
          "name": "INFINITFY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "mrThmKLmkxJPehxCg",
          "mode": "list",
          "cachedResultName": "LinkedIn Company Posts Scraper вҖ“ No Cookies (apimaestro/linkedin-company-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/mrThmKLmkxJPehxCg/input"
        },
        "customBody": "={\n  \"company_name\": \"{{ $json.linkedin_url }}\",\n  \"limit\": 5,\n  \"page_number\": 1,\n  \"sort\": \"recent\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -704,
        -160
      ],
      "id": "6501ca07-fa6b-46b5-9571-8a2ee322a0bc",
      "name": "linkedin_post1",
      "notesInFlow": false,
      "retryOnFail": false,
      "credentials": {
        "apifyApi": {
          "id": "Vk76cQXrlJCO4TJw",
          "name": "INFINITFY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "list",
          "cachedResultName": "YouTube Scraper (streamers/youtube-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/h7sDV53CddomktSi5/input"
        },
        "customBody": "={\n  \"downloadSubtitles\": false,\n  \"hasCC\": false,\n  \"hasLocation\": false,\n  \"hasSubtitles\": false,\n  \"is360\": false,\n  \"is3D\": false,\n  \"is4K\": false,\n  \"isBought\": false,\n  \"isHD\": false,\n  \"isHDR\": false,\n  \"isLive\": false,\n  \"isVR180\": false,\n  \"maxResultStreams\": 0,\n  \"maxResults\": 3,\n  \"maxResultsShorts\": 0,\n  \"preferAutoGeneratedSubtitles\": false,\n  \"saveSubsToKVS\": false,\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.youtube_url }}\"\n    }\n  ],\n  \"subtitlesLanguage\": \"en\",\n  \"subtitlesFormat\": \"srt\"\n}\n",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -704,
        224
      ],
      "id": "2f2382fc-9152-41f5-8cac-540f71f2e47a",
      "name": "youtube1",
      "credentials": {
        "apifyApi": {
          "id": "Vk76cQXrlJCO4TJw",
          "name": "INFINITFY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node вҖ“ LINKEDIN INFO (VersГЈo Turbo SEM TRADUГҮГғO)\n// Limpa, organiza, classifica lideranГ§a e mantГ©m os textos originais SEM traduГ§ГЈo.\n\n// --- Helpers ---------------------------------------------------------\nconst parseNumber = (str) => {\n  if (!str) return null;\n  if (typeof str === \"number\") return str;\n  const only = String(str).replace(/[^\\d]/g, \"\");\n  return only ? Number(only) : null;\n};\n\nconst classifyRole = (title = \"\") => {\n  const t = title.toLowerCase();\n\n  if (t.includes(\"ceo\") || t.includes(\"chief executive\")) return \"C-Level\";\n  if (t.includes(\"founder\") || t.includes(\"co-founder\")) return \"C-Level\";\n  if (t.includes(\"president\") || t.includes(\"chairman\")) return \"C-Level\";\n  if (t.includes(\"cfo\") || t.includes(\"cto\") || t.includes(\"cio\")) return \"C-Level\";\n\n  if (t.includes(\"director\") || t.includes(\"diretor\")) return \"Director\";\n  if (t.includes(\"head\")) return \"Head\";\n  if (t.includes(\"manager\") || t.includes(\"gerente\")) return \"Manager\";\n  if (t.includes(\"lead\") || t.includes(\"lГӯder\")) return \"Lead\";\n\n  return \"Staff\";\n};\n\nconst roleScore = {\n  \"C-Level\": 5,\n  \"Director\": 4,\n  \"Head\": 3,\n  \"Manager\": 2,\n  \"Lead\": 1,\n  \"Staff\": 0,\n};\n\n// --- Entrada bruta ---------------------------------------------------\nlet raw = $input.all().map(i => i.json);\nif (raw.length === 1) raw = raw[0];\nif (raw?.output) try { raw = JSON.parse(raw.output); } catch {}\nif (typeof raw === \"string\") try { raw = JSON.parse(raw); } catch {}\n\nconst company = Array.isArray(raw) ? raw[0] : raw;\n\nif (!company || typeof company !== \"object\") {\n  return [{ json: { source_type: \"linkedin_info\", linkedin_info: raw }}];\n}\n\n// --- Employees + lideranГ§a -------------------------------------------\nlet employees = Array.isArray(company.employees) ? company.employees : [];\n\nconst cleanEmployees = employees.map(emp => {\n  const lvl = classifyRole(emp.role || \"\");\n  return {\n    name: emp.name || null,\n    role: emp.role || null,  // sem traduГ§ГЈo\n    profile_url: emp.profile_url || null,\n    decision_level: lvl,\n    relevance_score: roleScore[lvl] || 0\n  };\n});\n\nconst leadership = cleanEmployees\n  .filter(e => e.relevance_score >= 3)\n  .sort((a, b) => b.relevance_score - a.relevance_score)\n  .slice(0, 10);\n\n// --- Similar companies ------------------------------------------------\nconst similar = Array.isArray(company.similar_pages)\n  ? company.similar_pages.map(sp => ({\n      name: sp.name || null,\n      industry: sp.industry || \"\",\n      location: sp.location || null,\n      url: sp.url || null,\n      logo_url: sp.logo_url || null\n    }))\n  : [];\n\n// --- ConstruГ§ГЈo final sem traduГ§ГЈo -----------------------------------\nconst clean = {\n  name: company.name || null,\n  industry: company.industry || company.about_industry || \"\",\n  description: company.description || company.info || \"\",\n  short_description: company.info || \"\",\n  tagline: company.tagline || \"\",\n\n  website: company.website || null,\n  url: company.formatted_url || company.url || null,\n\n  followers: parseNumber(company.followers),\n  company_size: company.company_size || null,\n  employee_count: parseNumber(company.employee_count) || null,\n  company_type: company.company_type || null,\n\n  headquarters: company.headquarters || company.location || null,\n  founded: company.founded || null,\n  country_code: company.country_code || null,\n\n  specialties: Array.isArray(company.specialties)\n    ? company.specialties\n    : [],\n\n  all_locations: Array.isArray(company.all_locations)\n    ? company.all_locations\n    : [],\n\n  logoUrl: company.profile_pic_url || null,\n  background_cover_image_url: company.background_cover_image_url || null,\n\n  similar_companies: similar,\n  leadership,\n  employees: cleanEmployees.slice(0, 50)\n};\n\n// ---------------------------------------------------------------------\n\nreturn [\n  {\n    json: {\n      source_type: \"linkedin_info\",\n      linkedin_info: clean\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -352
      ],
      "id": "98ae874a-afb7-498e-8c86-a4a220f4219c",
      "name": "linkedin_company1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega TODOS os items retornados pelo ator\nlet rawList = items.map(i => i.json);\n\n// 2. Se algum vier como string вҶ’ parse\nrawList = rawList.map(r => {\n  if (r?.output) {\n    try { return JSON.parse(r.output); } catch { return r.output; }\n  }\n  if (typeof r === \"string\") {\n    try { return JSON.parse(r); } catch {}\n  }\n  return r;\n});\n\n// 3. Se vier como objeto indexado {0:{},1:{}} вҶ’ vira array\nrawList = rawList.flatMap(r => {\n  if (r && typeof r === \"object\" && !Array.isArray(r)) {\n    const keys = Object.keys(r);\n    const isSeq = keys.every((k, i) => String(i) === k);\n    if (isSeq) return Object.values(r);\n  }\n  return r;\n});\n\n// 4. Garantir array\nif (!Array.isArray(rawList)) rawList = [rawList];\n\n// 5. Clean final simplificado + stats completos + type\nreturn rawList.map(post => {\n  const mediaItem = Array.isArray(post?.media?.items) ? post.media.items[0] : null;\n\n  const cleanPost = {\n    id: post.activity_urn || post.full_urn || null,\n    text: post.text || \"\",\n    post_type: post.post_type || null,\n    posted_at: post.posted_at?.date || null,\n\n    stats: {\n      total_reactions: post.stats?.total_reactions ?? 0,\n      like: post.stats?.like ?? 0,\n      love: post.stats?.love ?? 0,\n      celebrate: post.stats?.celebrate ?? 0,\n      reposts: post.stats?.reposts ?? 0,\n      comments: post.stats?.comments ?? 0\n    },\n\n    media: {\n      type: post.media?.type || null,\n      url: mediaItem?.url || null,\n      thumbnail: mediaItem?.thumbnail || null,\n      duration: mediaItem?.duration || null\n    }\n  };\n\n  return {\n    json: {\n      source_type: \"linkedin_posts\",\n      linkedin_posts: cleanPost\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -160
      ],
      "id": "cf68e358-5967-4631-ae07-9958d6bfafa7",
      "name": "linkedin_postagens1"
    },
    {
      "parameters": {
        "jsCode": "// FunГ§ГЈo que decide tipo de mГӯdia, URL principal e thumbnail\nfunction getMediaInfo(post) {\n  let mediaType = 'image';\n  let mediaUrl = null;\n  let thumbnailUrl = null;\n\n  // Se tiver vГӯdeo, prioriza SEMPRE o vГӯdeo como mediaUrl\n  if (post.videoUrl) {\n    mediaType = 'video';\n    mediaUrl = post.videoUrl;\n\n    // Thumbnail do vГӯdeo (pra mostrar preview se quiser)\n    if (Array.isArray(post.images) && post.images.length > 0) {\n      thumbnailUrl = post.images[0];\n    } else if (post.displayUrl) {\n      thumbnailUrl = post.displayUrl;\n    }\n  } else {\n    // NГЈo tem vГӯdeo вҶ’ imagem ou carrossel\n    if (post.type === 'Sidecar') {\n      mediaType = 'carousel';\n    } else {\n      mediaType = 'image';\n    }\n\n    if (Array.isArray(post.images) && post.images.length > 0) {\n      mediaUrl = post.images[0];\n    } else if (post.displayUrl) {\n      mediaUrl = post.displayUrl;\n    }\n  }\n\n  return { mediaType, mediaUrl, thumbnailUrl };\n}\n\nconst results = [];\n\nfor (const item of items) {\n  const raw = Array.isArray(item.json) ? item.json[0] : item.json;\n  if (!raw) continue;\n\n  const username = raw.username || null;\n  const profileUrl =\n    raw.url ||\n    raw.inputUrl ||\n    (username ? `https://www.instagram.com/${username}` : null);\n\n  const followersCount = raw.followersCount ?? null;\n  const followsCount = raw.followsCount ?? null;\n  const postsCount = raw.postsCount ?? null;\n\n  const posts = [];\n\n  const latestPosts = Array.isArray(raw.latestPosts) ? raw.latestPosts : [];\n  const latestIgtv = Array.isArray(raw.latestIgtvVideos) ? raw.latestIgtvVideos : [];\n\n  // Junta posts e IGTV\n  const allPosts = [...latestPosts, ...latestIgtv];\n\n  // Ordena por data (mais recente primeiro), se tiver timestamp\n  allPosts.sort((a, b) => {\n    const ta = a.timestamp ? new Date(a.timestamp).getTime() : 0;\n    const tb = b.timestamp ? new Date(b.timestamp).getTime() : 0;\n    return tb - ta;\n  });\n\n  // рҹ‘ү AGORA USA TODOS OS POSTS (SEM LIMITAR EM 5)\n  for (const post of allPosts) {\n    const { mediaType, mediaUrl, thumbnailUrl } = getMediaInfo(post);\n\n    posts.push({\n      id: post.id || null,\n      caption: post.caption || '',\n      url: post.url || null,\n      mediaType,          // 'image' | 'video' | 'carousel'\n      mediaUrl,           // vГӯdeo real (mp4/etc) OU imagem\n      thumbnailUrl,       // capa opcional (principalmente pra vГӯdeo)\n      likesCount: post.likesCount ?? null,\n      commentsCount: post.commentsCount ?? null,\n      sharesCount: null,  // Instagram nГЈo expГөe isso direto\n      mentions: Array.isArray(post.mentions) ? post.mentions : [],\n      hashtags: Array.isArray(post.hashtags) ? post.hashtags : [],\n      timestamp: post.timestamp || null,\n    });\n  }\n\n  const instagram_info = {\n    username,\n    profileUrl,\n    profile: {\n      followersCount,\n      followsCount,\n      postsCount,\n    },\n    posts,\n  };\n\n  results.push({\n    json: {\n      instagram_info,\n    },\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        16
      ],
      "id": "1bfe4ff0-b39a-4cb0-8607-26c6a00f107a",
      "name": "instagram_company1"
    },
    {
      "parameters": {
        "jsCode": "// items: saГӯda do ator do YouTube (um item por vГӯdeo)\nconst all = items.map(i => i.json);\n\n// Se nГЈo tiver vГӯdeo, retorna vazio\nif (!all.length) {\n  return [];\n}\n\n// Usa o primeiro vГӯdeo como base para dados do canal\nconst base = all[0];\n\nconst channel = {\n  name: base.channelName,\n  url: base.channelUrl,\n  totalVideos: base.channelTotalVideos,\n  totalViews: base.channelTotalViews,\n  subscribers: base.numberOfSubscribers,\n};\n\n// Mapeia sГі os campos importantes de cada vГӯdeo\nconst videos = all.map(v => ({\n  id: v.id,\n  title: v.title,\n  url: v.url,\n  thumbnailUrl: v.thumbnailUrl,\n  viewCount: v.viewCount,\n  likes: v.likes,\n  commentsCount: v.commentsCount,\n  publishedAt: v.date,\n}));\n\nreturn [\n  {\n    json: {\n      source_type: \"youtube_info\",\n      youtube_info: {\n        channel,\n        videos,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "8970ec26-2025-4324-9f40-5f8411806fb5",
      "name": "youtube_company1"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        0
      ],
      "id": "23bd9ff1-765a-4aa1-810a-bbf6592a3e25",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// CAMADA 1 вҖ” RAW NORMALIZADO\n// ===============================\n\nlet linkedin_info = null;\nlet linkedin_posts = [];\n\nlet instagram_info = null;\nlet instagram_posts = [];\n\nlet youtube_info = null;\nlet glassdoor_info = null;\nlet blog_posts = [];\n\nlet similar_companies = [];\n\nlet market_research = null;\n\n// ===============================\n// LOOP EM TODOS OS INPUTS\n// ===============================\nfor (const item of items) {\n  const b = item.json;\n\n  // -------------------------------\n  // MARKET RESEARCH (PRIORIDADE)\n  // -------------------------------\n  if (b.market_research_raw) {\n    market_research = b.market_research_raw;\n    continue;\n  }\n\n  // -------------------------------\n  // LINKEDIN INFO\n  // -------------------------------\n  if (b.source_type === \"linkedin_info\" || b.linkedin_info) {\n    const li = b.linkedin_info || b;\n\n    linkedin_info = li;\n\n    // рҹ”Ҙ CAPTURA SIMILAR COMPANIES\n    if (Array.isArray(li.similar_companies)) {\n      similar_companies.push(...li.similar_companies);\n    }\n\n    continue;\n  }\n\n  // -------------------------------\n  // LINKEDIN POSTS\n  // -------------------------------\n  if (b.source_type === \"linkedin_posts\" || b.linkedin_posts) {\n\n    const posts = b.linkedin_posts;\n\n    if (Array.isArray(posts)) {\n      linkedin_posts.push(...posts);\n    } \n    else if (posts && typeof posts === \"object\") {\n      linkedin_posts.push(posts);\n    } \n    else if (b.id && b.text) {\n      linkedin_posts.push(b);\n    }\n\n    continue;\n  }\n\n  // -------------------------------\n  // INSTAGRAM INFO\n  // -------------------------------\n  if (b.source_type === \"instagram_info\" || b.instagram_info) {\n    const ig = b.instagram_info || b;\n\n    if (Array.isArray(ig.posts)) {\n      instagram_posts.push(...ig.posts);\n      delete ig.posts;\n    }\n\n    instagram_info = ig;\n    continue;\n  }\n\n  // -------------------------------\n  // INSTAGRAM POSTS\n  // -------------------------------\n  if (b.source_type === \"instagram_posts\") {\n    if (Array.isArray(b.posts)) {\n      instagram_posts.push(...b.posts);\n    }\n    continue;\n  }\n\n  // -------------------------------\n  // YOUTUBE\n  // -------------------------------\n  if (b.source_type === \"youtube\" || b.youtube_info) {\n    youtube_info = b.youtube_info || b;\n    continue;\n  }\n\n  // -------------------------------\n  // GLASSDOOR\n  // -------------------------------\n  if (b.source_type === \"glassdoor\" || b.glassdoor_info) {\n    glassdoor_info = b.glassdoor_info || b;\n    continue;\n  }\n\n  // -------------------------------\n  // BLOG\n  // -------------------------------\n  if (b.source_type === \"blog_posts\" || b.blog_posts) {\n    const posts = b.posts || b.blog_posts;\n\n    if (Array.isArray(posts)) {\n      blog_posts.push(...posts);\n    }\n    continue;\n  }\n\n  // -------------------------------\n  // FALLBACK GLOBAL (caso venha fora)\n  // -------------------------------\n  if (Array.isArray(b.similar_companies)) {\n    similar_companies.push(...b.similar_companies);\n  }\n}\n\n// ===============================\n// рҹ”Ҙ DEDUPLICAГҮГғO GLOBAL\n// ===============================\nconst dedupe = (arr) => {\n  const seen = new Set();\n\n  return arr.filter(item => {\n    const key = item.id || item.url || item.link || item.name;\n\n    if (!key) return true;\n    if (seen.has(key)) return false;\n\n    seen.add(key);\n    return true;\n  });\n};\n\nlinkedin_posts = dedupe(linkedin_posts);\ninstagram_posts = dedupe(instagram_posts);\nblog_posts = dedupe(blog_posts);\nsimilar_companies = dedupe(similar_companies);\n\n// ===============================\n// рҹ§  NORMALIZAГҮГғO SIMILAR COMPANIES\n// ===============================\nsimilar_companies = similar_companies.map(c => ({\n  name: c.name || null,\n  industry: c.industry || null,\n  location: c.location || null,\n  url: c.url || null,\n  logo_url: c.logo_url || null,\n  source: \"linkedin\"\n}));\n\n// ===============================\n// рҹ§  CAMADA 2 вҖ” MERGE INTELIGENTE\n// ===============================\n\nlet company = {};\n\nif (market_research?.company) {\n  const c = market_research.company;\n\n  company = {\n    nome: c.nome,\n    dominio: c.dominio,\n    descricao_institucional: c.descricao_institucional,\n    setor: c.setor,\n    produtos_servicos: c.produtos_servicos || [],\n    diferenciais: c.diferenciais || [],\n\n    // ENRIQUECIMENTO\n    tagline: linkedin_info?.tagline || null,\n    website: linkedin_info?.website || c.dominio || null,\n    linkedin_url: linkedin_info?.url || null,\n    followers: linkedin_info?.followers || null,\n    company_size: linkedin_info?.company_size || null,\n    employee_count: linkedin_info?.employee_count || null,\n    company_type: linkedin_info?.company_type || null,\n    headquarters: linkedin_info?.headquarters || null,\n    founded: linkedin_info?.founded || null,\n    country_code: linkedin_info?.country_code || null,\n    specialties: linkedin_info?.specialties || c.especialidades || []\n  };\n}\n\n// fallback\nelse if (linkedin_info) {\n  company = {\n    nome: linkedin_info.name,\n    dominio: linkedin_info.website,\n    descricao_institucional: linkedin_info.description,\n    setor: linkedin_info.industry,\n    specialties: linkedin_info.specialties || []\n  };\n}\n\n// ===============================\n// OUTPUT FINAL\n// ===============================\nreturn [\n  {\n    json: {\n      company,\n\n      linkedin_posts,\n      instagram_info,\n      instagram_posts,\n      youtube_info,\n      glassdoor_info,\n      blog_posts,\n      similar_companies,\n\n      market_research_raw: market_research\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        80
      ],
      "id": "9669e28a-52b8-4d02-b170-837167171d5d",
      "name": "FINAL"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        80
      ],
      "id": "e3a726bd-4174-44f6-9d2d-eaeedf978534",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// Pegamos tudo que veio do ator (cada item Г© um review do Glassdoor)\nconst raw = items.map(i => i.json);\n\n// 1) Achar onde estГЈo as estatГӯsticas gerais (ratings, distribuiГ§ГЈo etc)\nconst statsCarrier = raw.find(r => r?.companyReviewStats?.data?.employerReviewsRG?.ratings);\nconst stats = statsCarrier?.companyReviewStats?.data;\n\n// 2) Notas gerais da empresa\nconst ratings = stats?.employerReviewsRG?.ratings || {};\n\n// 3) DistribuiГ§ГЈo das notas (1 a 5 estrelas)\nconst stars = stats?.employerReviewsRG?.ratingCountDistribution?.overall || {};\n\n// 4) Pegar APENAS UM review com pros/cons/advice (o primeiro que tiver algo Гәtil)\nconst oneReview = raw.find(r => r?.pros || r?.cons || r?.advice) || {};\n\n// 5) Montar saГӯda limpa, sem nome, cargo, localizaГ§ГЈo, nada pessoal\nreturn [\n  {\n    json: {\n      source_type: \"glassdoor_info\",\n      glassdoor_info: {\n        // Notas gerais importantes\n        overall_rating: ratings.overallRating ?? null,\n        compensation_benefits_rating: ratings.compensationAndBenefitsRating ?? null,\n        culture_values_rating: ratings.cultureAndValuesRating ?? null,\n        career_opportunities_rating: ratings.careerOpportunitiesRating ?? null,\n        work_life_balance_rating: ratings.workLifeBalanceRating ?? null,\n        diversity_inclusion_rating: ratings.diversityAndInclusionRating ?? null,\n        recommend_to_friend: ratings.recommendToFriendRating ?? null,\n        ceo_rating: ratings.ceoRating ?? null,\n\n        // DistribuiГ§ГЈo de estrelas\n        rating_distribution: {\n          one_star: stars._1 ?? 0,\n          two_stars: stars._2 ?? 0,\n          three_stars: stars._3 ?? 0,\n          four_stars: stars._4 ?? 0,\n          five_stars: stars._5 ?? 0\n        },\n\n        // Apenas UM exemplo de prГіs, contras e conselho\n        pros_example: oneReview.pros || null,\n        cons_example: oneReview.cons || null,\n        advice_example: oneReview.advice || null\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        464
      ],
      "id": "e4d3a613-6f69-403c-a929-97ec6d9a9ed3",
      "name": "glassdoor_company1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "8F2l3z0gKCYBCF4Bc",
          "mode": "list",
          "cachedResultName": "Glassdoor Scraper [Pay Per Result] (memo23/glassdoor-scraper-ppr)",
          "cachedResultUrl": "https://console.apify.com/actors/8F2l3z0gKCYBCF4Bc/input"
        },
        "customBody": "={\n  \"command\": \"reviews\",\n  \"includeAllReviews\": false,\n  \"includeAllSalaries\": false,\n  \"includeCompanyBenefitsStats\": true,\n  \"includeCompanyInterviewStats\": true,\n  \"includeCompanyReviewStats\": true,\n  \"monitoringModeForReviews\": false,\n  \"proxy\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"RESIDENTIAL\"\n    ]\n  },\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.glassdoor_url }}\"\n    }\n  ],\n  \"sortReviewsBy\": \"RELEVANCE\",\n  \"maxItems\": 1,\n  \"maxConcurrency\": 1,\n  \"minConcurrency\": 1,\n  \"maxRequestRetries\": 1\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -704,
        464
      ],
      "id": "f4b25083-f5d0-4fb2-9f6a-6d2a33c249f7",
      "name": "glassdoor1",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "Vk76cQXrlJCO4TJw",
          "name": "INFINITFY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=AGENTE вҖ” Pesquisa Corporativa\n\nUSE AS FERRAMENTAS:\n- crawl_institutional вҶ’ URLs jГЎ conhecidas\n- search_institutional вҶ’ buscas gerais\n- search_institutional3 вҶ’ OBRIGATГ“RIO para pessoas-chave e notГӯcias\n\nREGRAS:\n- Apenas dados encontrados pelas ferramentas\n- NГЈo inventar dados, URLs ou usar conhecimento prГіprio\n- NГЈo encontrou вҶ’ null ou []\n- NГЈo usar markdown, nГЈo truncar, nГЈo envolver JSON em string\n\nENTRADA:\n- DomГӯnio: {{ $json.domain }} \n- LinkedIn: {{ $json.linkedin_url }} \n- Instagram: {{ $json.instagram_url }} \n- YouTube: {{ $json.youtube_url }} \n- Glassdoor: {{ $json.glassdoor_url }} \n- Blog: {{ $json.blog_url }} \n\nCOLETA:\n\n[1] EMPRESA вҖ” crawl_institutional nos links da entrada\nNome, setor, descriГ§ГЈo, produtos/serviГ§os, diferenciais, mercado-alvo,\nmodelo de negГіcio, parceiros, clientes, especialidades.\n\n[2] PRESENГҮA DIGITAL вҖ” crawl_institutional nos links da entrada\nDiscurso institucional, tГіpicos recorrentes, curiosidades,\ncanais digitais, eventos, materiais ricos (e-books, cases, podcasts).\n\n[3] PESSOAS-CHAVE вҖ” search_institutional3 (OBRIGATГ“RIO)\nCEO, fundadores, diretores, presidentes.\nColetar: nome, cargo, LinkedIn, fonte.\n\n[4] NOTГҚCIAS DE MERCADO вҖ” search_institutional3 (OBRIGATГ“RIO)\nApenas notГӯcias de terceiros em veГӯculos externos (Exame, Valor,\nG1, InfoMoney, Startups.com.br, IT Forum, Reuters, Bloomberg, etc.)\nVГЎlido: aquisiГ§Гөes, fusГөes, mudanГ§as de lideranГ§a, expansГөes,\nparcerias, premiaГ§Гөes, investimentos, eventos relevantes.\nPROIBIDO: blog da empresa, artigos educativos, conteГәdo prГіprio.\nANTI-DUPLICATA: mesmo evento em vГЎrias fontes вҶ’ manter sГі a melhor.\n\n[5] ANГҒLISE ESTRATГүGICA вҖ” gerado pelo agente\nVisГЈo geral, posicionamento, dinГўmica competitiva,\ninsights acionГЎveis para time comercial, resumo executivo.\n\nSAГҚDA вҖ” SOMENTE JSON vГЎlido:\n\n{\n  \"market_research_raw\": {\n    \"company\": {\n      \"nome\": null,\n      \"dominio\": null,\n      \"descricao_institucional\": null,\n      \"setor\": null,\n      \"produtos_servicos\": [],\n      \"diferenciais\": [],\n      \"mercado_alvo\": null,\n      \"modelo_negocio\": null,\n      \"especialidades\": [],\n      \"parceiros\": [],\n      \"clientes_citados\": [],\n      \"pessoas_chave\": [\n        { \"nome\": null, \"cargo\": null, \"linkedin\": null, \"fonte_url\": null }\n      ]\n    },\n    \"positioning\": {\n      \"discurso_institucional\": null,\n      \"topicos_recorrentes\": [],\n      \"curiosidades_institucionais\": [],\n      \"presenca_digital\": {\n        \"site_institucional\": null,\n        \"blog\": null,\n        \"linkedin\": null,\n        \"instagram\": null,\n        \"youtube\": null,\n        \"outros_canais\": [],\n        \"eventos\": [],\n        \"materiais_ricos\": []\n      }\n    },\n    \"news_and_market_actions\": [\n      { \"titulo\": null, \"url\": null, \"data\": null, \"resumo\": null, \"tipo\": null, \"fonte\": null }\n    ],\n    \"strategic_analysis\": {\n      \"visao_geral\": null,\n      \"posicionamento\": null,\n      \"dinamica_competitiva\": null,\n      \"insights_estrategicos\": null,\n      \"resumo_executivo\": null\n    },\n    \"references\": []\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -720,
        880
      ],
      "id": "3c517e1d-12ea-4446-9e0f-4e484005c60b",
      "name": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Use esta ferramenta para buscar notГӯcias de movimentaГ§Гөes de mercado da empresa (aquisiГ§Гөes, fusГөes, mudanГ§as de lideranГ§a, parcerias, premiaГ§Гөes, expansГөes, investimentos) em veГӯculos externos como Exame, Valor EconГҙmico, G1, InfoMoney, IT Forum e outros. Use tambГ©m para identificar pessoas-chave da empresa (CEO, fundadores, diretores). Nunca buscar conteГәdo do blog da prГіpria empresa.`, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Results', ``, 'number') }}",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -288,
        1280
      ],
      "id": "6d2017f7-9f7c-4f6f-a83c-aaa6e22e46ec",
      "name": "search_institutional",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        1280
      ],
      "id": "b23e2a6d-2945-4252-b716-fd5fe00b9d22",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ywB5icFxO6TpzOJD",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar o texto vindo do agente (string JSON)\nlet raw =\n  items[0].json?.response?.generations?.[0]?.[0]?.text ||\n  items[0].json?.response?.generations?.[0]?.text ||\n  items[0].json?.output ||\n  items[0].json?.response ||\n  null;\n\n// 2. ValidaГ§ГЈo inicial\nif (!raw) {\n  return [{\n    json: {\n      market_research_raw: null,\n      _error: \"Sem conteГәdo para parsear\"\n    }\n  }];\n}\n\n// рҹ”Ҙ HARDEN 1 вҖ” detectar JSON encapsulado como string\nif (typeof raw === \"string\" && raw.includes('\"market_research_raw\": \"{')) {\n  try {\n    const outer = JSON.parse(raw);\n    if (typeof outer.market_research_raw === \"string\") {\n      raw = outer.market_research_raw;\n    }\n  } catch (e) {}\n}\n\n// рҹ”Ҙ HARDEN 2 вҖ” evitar erro de agent travado\nif (typeof raw === \"string\" && raw.toLowerCase().includes(\"agent stopped\")) {\n  return [{\n    json: {\n      market_research_raw: null,\n      _error: \"Agent stopped (max iterations)\"\n    }\n  }];\n}\n\n// 3. Limpeza de markdown e sujeira\nlet cleaned = String(raw)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```javascript/gi, \"\")\n  .replace(/```JSON/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 4. Remover caracteres invisГӯveis problemГЎticos\ncleaned = cleaned.replace(/\\u00A0/g, \" \"); // Non-breaking space\ncleaned = cleaned.replace(/\\u200B/g, \"\"); // Zero-width space\n\n// рҹ”Ҙ HARDEN 3 вҖ” tentar extrair JSON vГЎlido se tiver texto misturado\nconst firstBrace = cleaned.indexOf(\"{\");\nconst lastBrace = cleaned.lastIndexOf(\"}\");\nif (firstBrace !== -1 && lastBrace !== -1) {\n  cleaned = cleaned.slice(firstBrace, lastBrace + 1);\n}\n\n// 5. Tentar converter para JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{\n    json: {\n      market_research_raw: cleaned,\n      _error: \"JSON.parse falhou\",\n      _details: err.message\n    }\n  }];\n}\n\n// рҹ”Ҙ HARDEN 4 вҖ” caso ainda venha como string\nif (typeof parsed === \"string\") {\n  try {\n    parsed = JSON.parse(parsed);\n  } catch (e) {}\n}\n\n// 6. Extrair corretamente o market_research_raw\nlet finalData = parsed.market_research_raw ? parsed.market_research_raw : parsed;\n\n// рҹ”Ҙ HARDEN 5 вҖ” evitar string dentro novamente\nif (typeof finalData === \"string\") {\n  try {\n    finalData = JSON.parse(finalData);\n  } catch (e) {}\n}\n\n// 7. NormalizaГ§ГЈo do domГӯnio\nif (finalData?.company?.dominio && Array.isArray(finalData.company.dominio)) {\n  finalData.company.dominio = finalData.company.dominio[0];\n}\n\n// 8. Garantir arrays corretos\nif (finalData?.news_and_actions && !Array.isArray(finalData.news_and_actions)) {\n  finalData.news_and_actions = [finalData.news_and_actions];\n}\n\nif (finalData?.references && !Array.isArray(finalData.references)) {\n  finalData.references = [finalData.references];\n}\n\n// рҹ”Ҙ HARDEN 6 вҖ” remover URLs fake tipo exemplo.com\nif (Array.isArray(finalData?.references)) {\n  finalData.references = finalData.references.filter(url =>\n    typeof url === \"string\" && !url.includes(\"exemplo.com\")\n  );\n}\n\n// 9. Retorno final\nreturn [{\n  json: {\n    market_research_raw: finalData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        880
      ],
      "id": "2d060790-022e-4008-8813-e49ec897fe5c",
      "name": "pesquisa_web2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "market_research_raw"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        1280
      ],
      "id": "ffb48f2e-b55f-4917-b390-f24a2d91d07f",
      "name": "Simple Memory11"
    },
    {
      "parameters": {
        "query": "=glassdor \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "include_domains": []
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1872,
        384
      ],
      "id": "b7a99a7a-73a6-4f33-baf9-fbd5b5258cc7",
      "name": "glassdor",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=canal \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "max_results": 5,
          "include_raw_content": true,
          "include_domains": [
            "https://www.youtube.com"
          ]
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1872,
        208
      ],
      "id": "dc8632ba-6a71-451c-aa40-a565be0d31da",
      "name": "youtube5",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=site:instagram.com \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\" -reel -reels -p",
        "options": {
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1872,
        32
      ],
      "id": "14b58e9f-f450-4f8e-87c1-2358826c0f62",
      "name": "instagram4",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=site:linkedin.com/company \"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"",
        "options": {
          "include_raw_content": true,
          "include_domains": []
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1872,
        -176
      ],
      "id": "4f9779d7-3b17-4ada-9014-13a3de13f4d6",
      "name": "linkedin",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "=\"\"{{ $json.body.domain }}\" \"{{ $json.chatInput }}\"\" (blog OR artigos OR insights)",
        "options": {
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1872,
        576
      ],
      "id": "70466814-9231-41e9-9c6e-caf8a6f2e65f",
      "name": "blog2",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1472,
        176
      ],
      "id": "08256b19-baea-496a-8984-210eaf77e263",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "const allUrls = [];\nconst allTextArr = [];\n\nconst items = $input.all();\nitems.forEach(item => {\n  const data = item.json;\n  const queries = Array.isArray(data) ? data : [data];\n  queries.forEach(query => {\n    (query.results || []).forEach(r => {\n      if (r.url) allUrls.push(r.url);\n      if (r.raw_content) allTextArr.push(r.raw_content);\n      if (r.content) allTextArr.push(r.content);\n    });\n  });\n});\n\nconst allText = allTextArr.join('\\n');\n\n// в”Җв”Җ FunГ§ГЈo para limpar domГӯnio в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nfunction cleanDomain(url) {\n  if (!url) return null;\n  return url\n    .replace(/https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/\\/.*$/, '')\n    .trim();\n}\n\n// в”Җв”Җ LinkedIn в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet linkedin_url = null;\nconst liFromField = allText.match(/Linkedin[_ ]?Url:\\s*(https?:\\/\\/(?:[\\w-]+\\.)?linkedin\\.com\\/company\\/[\\w-]+)/i);\nif (liFromField) {\n  const m = liFromField[1].match(/linkedin\\.com(\\/company\\/[\\w-]+)/i);\n  linkedin_url = m ? 'https://www.linkedin.com' + m[1] : null;\n}\nif (!linkedin_url) {\n  const liCompany = allUrls\n    .filter(u => /linkedin\\.com\\/company\\/[\\w-]+/i.test(u))\n    .map(u => { const m = u.match(/linkedin\\.com(\\/company\\/[\\w-]+)/i); return m ? 'https://www.linkedin.com' + m[1] : null; })\n    .filter(Boolean)\n    .sort((a, b) => a.length - b.length);\n  linkedin_url = liCompany[0] || null;\n}\n\n// в”Җв”Җ Instagram в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst igUrls = allUrls\n  .filter(u => /instagram\\.com\\/(?!explore|accounts|legal|web|_)([\\w.]+)/i.test(u))\n  .map(u => { const m = u.match(/instagram\\.com\\/([\\w.]+)/i); return m ? `https://www.instagram.com/${m[1]}/` : null; })\n  .filter(Boolean)\n  .sort((a, b) => a.length - b.length);\nconst instagram_url = igUrls[0] || null;\n\n// в”Җв”Җ YouTube в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet youtube_url = null;\nconst ytFromUrl = allUrls\n  .filter(u => /youtube\\.com\\/@[\\w-]+/i.test(u))\n  .map(u => { const m = u.match(/youtube\\.com\\/@([\\w-]+)/i); return m ? `https://www.youtube.com/@${m[1]}` : null; })\n  .filter(Boolean);\n\nif (ytFromUrl.length) {\n  youtube_url = ytFromUrl[0];\n} else {\n  const ytFromText = allText.match(/youtube\\.com\\/@([\\w-]+)/i);\n  if (ytFromText) {\n    youtube_url = `https://www.youtube.com/@${ytFromText[1]}`;\n  } else {\n    const ytC = allUrls.find(u => /youtube\\.com\\/(c|channel)\\//i.test(u));\n    youtube_url = ytC ? ytC.split('?')[0] : null;\n  }\n}\n\n// в”Җв”Җ Glassdoor в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst gdOverview = allUrls.find(u => /glassdoor/.test(u) && /Working-at|Overview|Vis.o-geral|Trabalhar/i.test(u));\nconst glassdoor_url = (gdOverview || allUrls.find(u => /glassdoor/.test(u)))?.split('?')[0] || null;\n\n// в”Җв”Җ Blog в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet blog_url = null;\nconst blogFromUrl = allUrls.find(u => {\n  const clean = u.replace(/\\?.*/, '');\n  return /\\/blog\\/?$/.test(clean) || /^https?:\\/\\/blog\\./i.test(clean);\n});\nif (blogFromUrl) {\n  blog_url = blogFromUrl.split('?')[0].replace(/\\/?$/, '/');\n} else {\n  const blogFromText = allText.match(/https?:\\/\\/(?:blog\\.[\\w.-]+|[\\w.-]+\\/blog)\\/?/i);\n  if (blogFromText) blog_url = blogFromText[0].replace(/\\/?$/, '/');\n}\n\n// в”Җв”Җ Domain в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet domain = null;\nconst siteFromField = allText.match(/Website:\\s*(https?:\\/\\/[\\w.-]+\\.[\\w]{2,}[\\/]?)/i);\nif (siteFromField) {\n  domain = cleanDomain(siteFromField[1]);\n}\nif (!domain) {\n  const firstItem = items[0];\n  const query = firstItem?.json?.query || '';\n  const qMatch = query.match(/https?:\\/\\/[\\w.-]+\\.[\\w]{2,}[\\/]?/i);\n  if (qMatch) domain = cleanDomain(qMatch[0]);\n}\n\nreturn [{\n  json: {\n    domain,\n    linkedin_url,\n    instagram_url,\n    youtube_url,\n    glassdoor_url,\n    blog_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        224
      ],
      "id": "b029ce2e-3e9c-4da4-8ea0-fea0124e9a06",
      "name": "URLs1"
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $json.blog_url }}"
        ],
        "options": {
          "include_images": true,
          "extract_depth": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -704,
        672
      ],
      "id": "2865efde-d4b7-472e-8b1b-71ce0aa0865f",
      "name": "blog3",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node вҖ“ BLOG POSTS (Universal Multi-format)\n// Detecta e suporta automaticamente diferentes estruturas de blog\n\n// --- Helpers ---------------------------------------------------------\nconst parseDate = (str) => {\n  if (!str) return null;\n  const months = {\n    'janeiro':'01','fevereiro':'02','marГ§o':'03','abril':'04',\n    'maio':'05','junho':'06','julho':'07','agosto':'08',\n    'setembro':'09','outubro':'10','novembro':'11','dezembro':'12'\n  };\n  let m;\n  m = str.match(/(\\d+)\\s+de\\s+([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+)\\s+de\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[2].toLowerCase()]; if (mo) return `${String(m[1]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  m = str.match(/(\\d+)\\s+([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+),\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[2].toLowerCase()]; if (mo) return `${String(m[1]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  m = str.match(/([a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+)\\s+(\\d+),\\s+(\\d{4})/i);\n  if (m) { const mo = months[m[1].toLowerCase()]; if (mo) return `${String(m[2]).padStart(2,'0')}/${mo}/${m[3]}`; }\n  return null;\n};\n\nconst toAbsoluteUrl = (url, base) => {\n  if (!url) return null;\n  if (/^https?:\\/\\//i.test(url)) return url;\n  try {\n    const b = new URL(base);\n    return `${b.protocol}//${b.host}${url.startsWith('/') ? '' : '/'}${url}`;\n  } catch { return url; }\n};\n\nconst parseReadingTime = (str) => {\n  if (!str) return null;\n  const m = str.match(/(\\d+)/);\n  return m ? parseInt(m[1]) : null;\n};\n\nconst SKIP_TITLES = /newsletter|inscreva|fale com|contato|assine|mais lidas|novidades|carregue|load more/i;\n\n// --- Entrada bruta ---------------------------------------------------\nlet raw = $input.all().map(i => i.json);\nconst data = Array.isArray(raw) ? raw[0] : raw;\nconst results = Array.isArray(data?.results) ? data.results : [];\nconst result = results[0] || {};\nconst content = result.raw_content || '';\nconst blogUrl = result.url || null;\nconst imagesArr = Array.isArray(result.images) ? result.images : [];\n\nconst posts = [];\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 1 вҖ” LAB2DEV: ## Title + * Minutos de leitura\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isLab2devFormat = /\\*\\s+\\d+\\s+[Mm]inutos de leitura/.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 2 вҖ” VERICODE: ## [Title](https://full-url)\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isVericodeFormat = !isLab2devFormat && /##\\s+\\[[^\\]]+\\]\\(https?:\\/\\//.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 3 вҖ” YAMAN / NEXT.JS: [### Title](/blog/slug) relativo\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isYamanFormat = !isLab2devFormat && !isVericodeFormat && /\\[###\\s+[^\\]]+\\]\\(\\//.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// FORMATO 4 вҖ” GENГүRICO: ### [Title](url) ou #### [Title](url)\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst isGenericFormat = !isLab2devFormat && !isVericodeFormat && !isYamanFormat\n  && /#{2,4}\\s+\\[[^\\]]+\\]\\([^)]+\\)/.test(content);\n\n// в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nif (isLab2devFormat) {\n  const urlMap = {};\n  const extractUrls = (text) => {\n    const re = /###?\\s+\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n    let m;\n    while ((m = re.exec(text)) !== null) urlMap[m[1].trim()] = m[2].trim();\n  };\n  const maisIdx = content.indexOf('## Mais Lidas');\n  const novIdx  = content.indexOf('## Novidades');\n  if (maisIdx >= 0) extractUrls(content.slice(maisIdx));\n  if (novIdx  >= 0) extractUrls(content.slice(novIdx));\n\n  const sideStart = [maisIdx, novIdx].filter(i => i >= 0).reduce((mn,i) => Math.min(mn,i), Infinity);\n  const main = sideStart !== Infinity ? content.slice(0, sideStart) : content;\n\n  const blockRe = /(\\[[^\\]]+\\]\\([^\\)]+\\)(?:,\\s*\\[[^\\]]+\\]\\([^\\)]+\\))*)\\s*\\n+##\\s+([^\\n]+)\\s*\\n+\\*\\s+([^\\n]+)\\s*\\n+\\*\\s+(\\d+\\s+[Mm]inutos de leitura)/g;\n  let bm;\n  while ((bm = blockRe.exec(main)) !== null) {\n    const title = bm[2].trim();\n    if (SKIP_TITLES.test(title)) continue;\n    const catRe = /\\[([^\\]]+)\\]\\(([^\\)]+)\\)/g;\n    const categories = [];\n    let cm;\n    while ((cm = catRe.exec(bm[1])) !== null) categories.push({ name: cm[1].trim(), url: cm[2].trim() });\n    posts.push({\n      title,\n      url: urlMap[title] || null,\n      published_at: parseDate(bm[3].trim()),\n      reading_time_minutes: parseReadingTime(bm[4]),\n      categories,\n      cover_image_url: null,\n      author: null\n    });\n  }\n\n} else if (isVericodeFormat) {\n  const titleRe = /##\\s+\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n  let tm;\n  const titleMatches = [];\n  while ((tm = titleRe.exec(content)) !== null) {\n    if (SKIP_TITLES.test(tm[1])) continue;\n    titleMatches.push({ title: tm[1].trim(), url: tm[2].trim(), index: tm.index, end: tm.index + tm[0].length });\n  }\n  titleMatches.forEach((t) => {\n    const lb = content.slice(Math.max(0, t.index - 700), t.index);\n    const lf = content.slice(t.end, Math.min(content.length, t.end + 400));\n    const coverM = [...lb.matchAll(/\\[!\\[[^\\]]*\\]\\(([^)]+)\\)\\]\\([^)]+\\)/g)];\n    const cover_image_url = coverM.length ? coverM[coverM.length - 1][1] : null;\n    const catRe = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]*\\/categori[^)]+)\\)/g;\n    const categories = [...lb.matchAll(catRe)].map(c => ({ name: c[1].trim(), url: c[2].trim() }));\n    const dateM = lb.match(/вҖў\\s+(\\d+\\s+de\\s+[a-zГЎГ ГЈГўГ©ГӘГӯГіГҙГөГәГјГ§]+\\s+de\\s+\\d{4})/i);\n    const published_at = dateM ? parseDate(dateM[1]) : null;\n    const authorM = lf.match(/!\\[[^\\]]*\\]\\([^)]+\\)\\n+([^\\n!\\[#*вҖў\\]]{2,40})\\n/);\n    let author = authorM ? authorM[1].trim() : null;\n    if (!author || /^avatar$/i.test(author)) author = null;\n    posts.push({ title: t.title, url: t.url, published_at, reading_time_minutes: null, categories, cover_image_url, author });\n  });\n\n} else if (isYamanFormat) {\n  // PadrГЈo: imagem + categoria + [### TГӯtulo](/slug)\n  const blocks = content.split(/(?=!\\[)/);\n  // Imagens do array separado (sem hero/opengraph)\n  const postImages = imagesArr.filter(img =>\n    !/hero|opengraph|logo|icon|avatar/i.test(img) &&\n    /\\.(webp|jpg|jpeg|png)/i.test(img)\n  );\n  let imgIdx = 0;\n\n  const entryRe = /\\[([^\\]]*)\\]\\(\\/blog\\/categoria\\/([^)]+)\\)[,\\s]*(?:\\[([^\\]]*)\\]\\(\\/blog\\/categoria\\/([^)]+)\\))?\\s*\\n+\\[###\\s+([^\\]]+)\\]\\(([^)]+)\\)/g;\n  let em;\n  while ((em = entryRe.exec(content)) !== null) {\n    const title = em[5].trim();\n    if (SKIP_TITLES.test(title)) continue;\n    const url = toAbsoluteUrl(em[6], blogUrl);\n    const categories = [{ name: em[1].trim(), url: toAbsoluteUrl(`/blog/categoria/${em[2]}`, blogUrl) }];\n    if (em[3]) categories.push({ name: em[3].trim(), url: toAbsoluteUrl(`/blog/categoria/${em[4]}`, blogUrl) });\n    posts.push({\n      title,\n      url,\n      published_at: null,\n      reading_time_minutes: null,\n      categories,\n      cover_image_url: postImages[imgIdx++] || null,\n      author: null\n    });\n  }\n\n} else if (isGenericFormat) {\n  // Fallback genГ©rico: captura qualquer ## [Title](url)\n  const re = /#{2,4}\\s+\\[([^\\]]+)\\]\\(([^)]+)\\)/g;\n  let m;\n  const seen = new Set();\n  while ((m = re.exec(content)) !== null) {\n    const title = m[1].trim();\n    const url   = toAbsoluteUrl(m[2].trim(), blogUrl);\n    if (SKIP_TITLES.test(title)) continue;\n    if (seen.has(title)) continue;\n    seen.add(title);\n    // Tenta pegar categoria antes do tГӯtulo\n    const before = content.slice(Math.max(0, m.index - 300), m.index);\n    const catM = before.match(/\\[([^\\]]+)\\]\\(\\/[^)]*categor[^)]*\\)/i);\n    const categories = catM ? [{ name: catM[1].trim(), url: toAbsoluteUrl(catM[0].match(/\\(([^)]+)\\)/)[1], blogUrl) }] : [];\n    posts.push({ title, url, published_at: null, reading_time_minutes: null, categories, cover_image_url: null, author: null });\n  }\n}\n\n// --- Resultado (apenas os 6 mais recentes) ---------------------------\nreturn [{\n  json: {\n    source_type: 'blog_posts',\n    blog_url: blogUrl,\n    scraped_at: new Date().toISOString(),\n    total_found: posts.length,\n    total_returned: Math.min(posts.length, 6),\n    posts: posts.slice(0, 6)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        672
      ],
      "id": "e7fbf3a6-eba2-450f-8bad-eaa14169e48d",
      "name": "blog_company1"
    },
    {
      "parameters": {
        "resource": "crawl",
        "url": "={{ $json.domain }}",
        "options": {
          "instructions": "=Extraia todo o conteГәdo relevante desta pГЎgina: textos institucionais, descriГ§ГЈo da empresa, produtos e serviГ§os, diferenciais, equipe, parceiros, clientes mencionados, canais de contato, eventos e materiais disponГӯveis. Ignore menus de navegaГ§ГЈo, rodapГ©s, cookies e elementos visuais sem conteГәdo informativo."
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -496,
        1280
      ],
      "id": "b6504138-7eee-40b9-b188-7eaadc546ce7",
      "name": "Crawl in site1",
      "credentials": {
        "tavilyApi": {
          "id": "zyivs58YCQhqdZhT",
          "name": "4"
        }
      }
    },
    {
      "parameters": {
        "resource": "crawl",
        "url": "={{ $json.domain }}",
        "options": {
          "instructions": "=Extraia todo o conteГәdo relevante desta pГЎgina: textos institucionais, descriГ§ГЈo da empresa, produtos e serviГ§os, diferenciais, equipe, parceiros, clientes mencionados, canais de contato, eventos e materiais disponГӯveis. Ignore menus de navegaГ§ГЈo, rodapГ©s, cookies e elementos visuais sem conteГәdo informativo."
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -4160,
        1296
      ],
      "id": "1b278773-f815-43dc-8763-0bf8b6c5d895",
      "name": "crawl_institutional",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Use esta ferramenta para buscar notГӯcias de movimentaГ§Гөes de mercado da empresa (aquisiГ§Гөes, fusГөes, mudanГ§as de lideranГ§a, parcerias, premiaГ§Гөes, expansГөes, investimentos) em veГӯculos externos como Exame, Valor EconГҙmico, G1, InfoMoney, IT Forum e outros. Use tambГ©m para identificar pessoas-chave da empresa (CEO, fundadores, diretores). Nunca buscar conteГәdo do blog da prГіpria empresa.`, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Results', ``, 'number') }}",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -4320,
        1296
      ],
      "id": "0acdacf5-0629-4e14-9d6e-de73c34cc9f9",
      "name": "search_institutional2",
      "credentials": {
        "tavilyApi": {
          "id": "chfnMGQodbF4SG2z",
          "name": "6"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "linkedin_info": {
      "main": [
        [
          {
            "node": "linkedin_company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram": {
      "main": [
        [
          {
            "node": "instagram_company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post": {
      "main": [
        [
          {
            "node": "linkedin_postagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "youtube": {
      "main": [
        [
          {
            "node": "youtube_company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_company": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_postagens": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "instagram_company": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "youtube_company": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "FINAL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glassdoor_company": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "glassdoor": {
      "main": [
        [
          {
            "node": "glassdoor_company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "NewsUpdater",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_institutional1": {
      "ai_tool": [
        [
          {
            "node": "NewsUpdater",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crawl_institutional1": {
      "ai_tool": [
        [
          {
            "node": "NewsUpdater",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "NewsUpdater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_web1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsUpdater": {
      "main": [
        [
          {
            "node": "pesquisa_web1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram4",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube5",
            "type": "main",
            "index": 0
          },
          {
            "node": "glassdor",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1": {
      "main": [
        [
          {
            "node": "pesquisa_web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_web": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "NewsUpdater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "glassdor1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "youtube4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "instagram3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "linkedin1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs": {
      "main": [
        [
          {
            "node": "linkedin_info",
            "type": "main",
            "index": 0
          },
          {
            "node": "linkedin_post",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube",
            "type": "main",
            "index": 0
          },
          {
            "node": "glassdoor",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog": {
      "main": [
        [
          {
            "node": "blog_company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_company": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "linkedin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram3",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube4",
            "type": "main",
            "index": 0
          },
          {
            "node": "glassdor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "linkedin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram3",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube4",
            "type": "main",
            "index": 0
          },
          {
            "node": "glassdor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_info1": {
      "main": [
        [
          {
            "node": "linkedin_company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram1": {
      "main": [
        [
          {
            "node": "instagram_company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_post1": {
      "main": [
        [
          {
            "node": "linkedin_postagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "youtube1": {
      "main": [
        [
          {
            "node": "youtube_company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_company1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_postagens1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "instagram_company1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "youtube_company1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glassdoor_company1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "glassdoor1": {
      "main": [
        [
          {
            "node": "glassdoor_company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE 6 вҖ” Pesquisa Web & Blog Insight": {
      "main": [
        [
          {
            "node": "pesquisa_web2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_institutional": {
      "ai_tool": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_web2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Simple Memory11": {
      "ai_memory": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "glassdor": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "youtube5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "instagram4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "linkedin": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs1": {
      "main": [
        [
          {
            "node": "linkedin_info1",
            "type": "main",
            "index": 0
          },
          {
            "node": "linkedin_post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube1",
            "type": "main",
            "index": 0
          },
          {
            "node": "glassdoor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog3": {
      "main": [
        [
          {
            "node": "blog_company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_company1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Crawl in site1": {
      "ai_tool": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crawl_institutional": {
      "ai_tool": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_institutional2": {
      "ai_tool": [
        [
          {
            "node": "AGENTE 6 вҖ” Pesquisa Web & Blog Insight1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21cd3f03-ab22-4369-a45b-24fc69d17826",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f05b1b2efbacf9190e31cc225f9bb6e219f09b0aa5a1acddf62146921e5c5f05"
  },
  "id": "Q8kOXl9mBzJOJonw",
  "tags": []
}